.working{
    height: calc(100vh - 2rem);
    background: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.working .content_cogs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon_cogs{
    position: relative;
    width: 180px;
    height: 130px;
}

.working h1{
    font-size: 20px;
    color: #535a66;
    text-align: center;
    margin-top: 50px;
}

.working > span{
    font-size: 35px;
    color: #535a66;
    animation: anim_cog_left 3s infinite linear;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.icon_cogs span:nth-child(1){
    font-size: 100px;
    color: #535a66;
    animation: anim_cog_left 8s infinite linear;
    position: absolute;
    top: 0;
    left: 0;
}

.icon_cogs span:nth-child(2){
    font-size: 80px;
    color: #0281a7;
    transform:rotate(5deg);
    left: 100px;
    top: 5px;
    animation: anim_cog_rigth 8.6s infinite linear;
    position: absolute;
}

.icon_cogs span:nth-child(3){
    font-size: 50px;
    color: #a6b3c4;
    transform:rotate(5deg);
    left: 80px;
    top: 80px;
    animation: anim_cog_rigth 8.4s infinite linear;
    position: absolute;
}




@keyframes anim_working {
    0%,
    100% {
        filter: grayscale(100%);
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    60%{
        filter: grayscale(50%);
    }
  }

@keyframes anim_cog_left {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@keyframes anim_cog_rigth{
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}