<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <section>
      <h2 id="title_view" class="hidden">Perfil</h2>
      <h2 id="title_view_profile" class=" hidden">Seguridad</h2>
    </section>

    <div class="profile_grid">
      <section class="profile_edit">
        {{>profile/navegation}}
        <div class="profile_settings">
          <form action="/profile/update/credentials/{{user.id_usuario_business}}" method="POST">
            <section class="section_form_profile">
              <div class="title_section_form">
                <h5>Cuenta:</h5>
              </div>
              <div class="container_inputs">
                <div class="data_username">
                  <label for="username">Usuario</label>
                  <input name="username" class="input" id="username" type="text" autocomplete="off" required
                    value="{{user.username}}" />
                </div>
                <div class="data_correo">
                  <label for="correo">Correo electronico</label>
                  <input name="correo" class="input" id="correo" type="email" autocomplete="off" required
                    value="{{user.correo}}" />
                </div>
              </div>
            </section>

            <section class="section_form_profile">
              <div class="title_section_form">
                <h5>Cambiar Contrase単a:</h5>
              </div>
              <div class="container_inputs">
                <div class="data_password">
                  <label for="password">Contrase単a Actual</label>
                  <input name="password" class="input" id="password" type="password" autocomplete="off"  />
                </div>
                <div class="data_new_password">
                  <label for="password">Nueva Contrase単a</label>
                  <input name="password" class="input" id="password" type="password" autocomplete="off"  />
                </div>
                <div class="data_confirm_password">
                  <label for="password">Confirmar Contrase単a</label>
                  <input name="password" class="input" id="password" type="password" autocomplete="off"  />
                </div>
              </div>
            </section>

            <div class="buttons_form_profile">
              <button class="btn">Cancelar</button>
              <button class="btn" type="submit" disabled>Guardar</button>
            </div>
          </form>
        </div>
      </section>
      {{>profile/preview_profile}}
    </div>
  </main>
</div>