<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <section>
      <h2 id="title_view" class="hidden">Perfil</h2>
      <h2 id="title_view_profile" class=" hidden">Subscripción</h2>
    </section>

    <div class="profile_grid">
      <section class="profile_edit">
        {{>profile/navegation}}
        <div class="profile_settings">
          
        </div>
      </section>
      {{>profile/preview_profile}}
    </div>
  </main>
</div>