<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Certificado Médico</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
        <div class="certificado_medico_grid">
       	<div class="container">
		<div class="card">
			<div class="left-column background1-left-column">
                <i><img src="/img/icon_new_white.png"></i>
				<h6>SALUTEST</h6>
			</div>
			<div class="right-column">
				<div class="titu">
					<h2 class="cab_1">Certificado Médico</h2>
				</div>
                <br>
                <br>
                <br>
				<h4>A QUIEN CORRESPONDE</h4>
                
				<p>Médico Cirujano, con Cédula profesional: <b>{{user.cedula_persona}}</b></p>
                <br>
                <h3><i>CERTIFICA</i></h3>
                <br>
                <p>Que él (la):<b>{{user.nombres_persona}} {{user.apellidos_persona}}</b> de 18 años de edad.
                    Se le practicaron los exámenes físicos, y de laboratorio correspondientes
                    encontrandose Clínicamente </p>
                <br>
                <h4 class="resul">SANO XD</h4>
                <p class="lin">━━━━━━━━━━</p>
                <br>
                <p>A petición del intersado y para los usos legales que estime 
                    convenientes, se extiende el presente en la ciudad de Quito,
                    Guajaló a los 2 días del mes de Agosto del año 2022</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h5 class="fin_2">Dr. JHON TANICUCHI</h5>
            </div>
		</div>
        <button class="button background1-left-column">Generar Certificado</button>
	</div>
</div>
</main>