<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <!-- MAIN -->
    <section class="dash_title">
      <h2 id="title_modules">Agendar Cita</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <div class="grid_cita_home">
      <a href="/cita_cv_1">
        <section class="container_mode_cita 1 disponible">
          <div class="title">
            <h1>Cita Virtual</h1>
          </div>

          <div class="content">
            <div>
              <span class="fas fa-calendar-day"></span>
            </div>

            {{!-- <div class="container_pulse">
              <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <circle id="Oval" cx="512" cy="512" r="512"></circle>
              <circle id="Oval" cx="512" cy="512" r="512"></circle>
            </div> --}}

            <div class="particles-js" id="particles-js"></div>
          </div>
        </section>
      </a>

      <a href="/cita_cp_1">
        <section class="container_mode_cita 2 disponible">
          <div class="title">
            <h1>Cita Presencial</h1>
          </div>

          <div class="content">
            <div>
              <span class="fas fa-calendar-alt"></span>
            </div>
            <div class="particles-js" id="particles-js2"></div>
          </div>
        </section>
      </a>

      <a>
        <section class="container_mode_cita 3 disable">
          
        </section>
      </a>

      <a>
        <section class="container_mode_cita 4 disable">
          
        </section>
      </a>
    </div>
  </main>
</div>