<div class="main_contect">
  <main class="main_app">
    <section>
      <h2 class="pestana hidden home">Home</h2>
      <h2 id="title_view" class="hidden">Apps Control</h2>
      <h2 id="title_pestaña" class="pestana hidden">Apps</h2>
    </section>

    <div class="modulo_componente_grid">

      <div class="contendedor_componente">
        <a href="/modules/Saluth%20Management">
          <span class="caja_modulo1">
            <h1>Management</h1>
            <p>
              Permitirá a cualquier institución médica tener el control
              total de la distribucion y administracion de la institución médica.
            </p>
          </span>
        </a>
        <a href="/modules/Saluth%20Patient">
          <span class="caja_modulo2">
            <h1>Patient</h1>
            <p>
              Permitirá tener el control de salud y de cada detalle
              que se lleva a cabo en una institución médica sea pública o privada.
            </p>
          </span>
        </a>
        <a href="/modules/Saluth%20ERP">
          <span class="caja_modulo3">
            <h1>ERP</h1>
            <p>
              Permitirá gestionar los procesos internos de la intitución medica.
            </p>
          </span>

      </div>
    </div>
  </main>
</div>