@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%);
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--Dark_cyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.card-container{
    border: 1px solid;
    margin: 170px auto 50px;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.bubbles{
    background: url(images/bg-pattern-card.svg);
    height: 140px;
}

.foto{
    position: absolute;
    top: 87px;
    left: 35%;
    border: 5px solid rgb(12, 12, 12);
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
}

.personal-data-container{
    background-color: white;
    height: 150px;
    padding: 75px;
    box-sizing: border-box;
    text-align: center;
}

.name{
    font-weight: 700;
    color: var(--Very_dark_desaturated_blue);
}

.age, .city{
    color: var(--Dark_gray);
}

.city{
    margin-top: 10px;
    font-size: 0.8em;
}

.stats-container{
    background-color: white;
    border-top: 1px solid var(--Dark_gray);
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}


.statistics {
    text-align: center;
}
