<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Componentes ERP</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
    
        <div class="Componentes_grid">
            <div class="container">
                <div class="tarjeta-modulos">
                    <div class="left-column backgroundl-left-column">
                        <h6>Controladores</h6>
                        <h2>Receta médica</h2>
                        <i class="las la-tablets" aria-hidden="true"></i>
                    </div>
                    <div class="rigth-column">
                        <div>
                            <h4>23-04-2022</h4>
                            <h6>10008</h6>
                        </div>
                        <h2>A-Z</h2>
                            <form action="/modulos_erp">
                                <button class="mostrar backgroundl-left-column">Mostrar</button>
                            </form>
                    </div>
                </div>
                <div class="tarjeta-modulos">
                    <div class="left-column background2-left-column">
                        <h6>Controladores</h6>
                        <h2>Cita medica</h2>
                        <i class="las la-calendar" aria-hidden="true"></i>
                    </div>
                    <div class="rigth-column">
                        <div>
                            <h4>Quito</h4>
                            <h6>10009</h6>
                        </div>
                        <h2>Sur</h2>
                        <form action="/modulos_erp">
                            <button class="mostrar background2-left-column">Mostrar</button>
                        </form>
                    </div>
                </div>
                <div class="tarjeta-modulos">
                    <div class="left-column backgroundl-left-column">
                        <h6>Controladores</h6>
                        <h2>Medica</h2>
                        <i class="las la-tablets" aria-hidden="true"></i>
                    </div>
                    <div class="rigth-column">
                        <div>
                            <h4>Quito</h4>
                            <h6>10008</h6>
                        </div>
                        <h2>Sur</h2>
                        <form action="/modulos_erp">
                            <button class="mostrar backgroundl-left-column">Mostrar</button>
                        </form>
                    </div>
                </div>
                <div class="tarjeta-modulos">
                    <div class="left-column background2-left-column">
                        <h6>Controladores</h6>
                        <h2>Turnos</h2>
                        <i class="las la-business-time" aria-hidden="true"></i>
                    </div>
                    <div class="rigth-column">
                        <div>
                            <h4>Quito</h4>
                            <h6>20008</h6>
                        </div>
                        <h2>Sur</h2>
                        <form action="/modulos_erp">
                            <button class="mostrar background2-left-column">Mostrar</button>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </main>
</div>