<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Componentes ERP</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
    
        <div class="Componentes_grid">
            <div class="contenedor">
                <section class="tarjetas-seccion">
                    {{#each componentes_erp}}
                    <div class="tarjetas-erp">
                        <div class="tarjetas-header">{{nombre_componente}}</div>
                        <div class="tarjetas-body">
                            <p>{{descripcion-componente}}</p>
                        </div>
                        <div class="tarjetas-footer">{{nombre_aplicacion}}</div>
                    </div>
                    {{/each}}
                </section> 
                    <a href="/componentes_erp" class="boton-mas" target="-blank">
                        <i class="las la-plus"></i>
                    </a>   
            </div>
        </div>
    </main>
</div>