<div class="main_contect">
  <main class="main_app">
    <section class="dash_title">
      <h2 id="title_modules">Componentes Management</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <section class="dash_title">
     
    </section>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <div class="componentes_management_grid">
        {{#each componentes_management}}
       <div class="tarj-modu">
        <div class="left-column background-left-column">
            <h6>Controladores</h6>
            <h2>{{nombre_componente}}</h2>
            <i class="material-icons">groups</i>
        </div>
        <div class="rigth-column">
            <div>
                <h4>23-Abril-2022</h4>
                <h6>2022-2023</h6>
            </div>
            <h2>A-Z</h2>
            <p>{{descripcion_componente}}</p>

            <form action="#" class="mostrar background-left-column">
            <button class="mostrar background9-left-column">Mostrar</button>
            </form>
        </div>
    </div>
    {{/each}}

     {{#if lista}} 
                    <a href="/componente" class="boton-mas" target="-blank">
                        <i class="las la-plus"></i>
                    </a>
                    {{else}}
                     <a href="/componentes_erp" class="boton-mas" target="-blank">
                        <i class="las la-plus"></i>
                    </a>   
                    {{/if}} 
    </div>  

    </div>
  </main>
</div>
 