<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Panel de Control</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <section class="dash_title">
          <h2 >Especialidades</h2>
        </section>

        <div class="especialidades_grid">
            <form onsubmit="event.preventDefault();onSubmit();" autocomplete="off">
              <div class="tablita_especialidades">
                <table class="tabla_especialidades" id="tabla">
                  <thead>
                    <tr> 
                      <th>id</th> 
                      <th>Especialidad</th>
                      <th>Descripción</th>
                      <th>Fecha creacion</th>
                      <th>Estado</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                    <tbody>
      
                    </tbody>
                </table>
              </div>
              <br/>
              <br/>
              <div class="caja_especialidades">
                <input type=hidden"" name="oculto" value="1"> 
                <br><br>
                <label for="esp">Especialidad</label> <input type="text" id="esp" placeholder="Escriba aqui" required>
                <br><br>
                <label for="desc">Descripción</label> <input type="text" id="desc" placeholder="Escriba aqui" required>
                <br><br>
                <label for="fecha">Fecha creación</label> <input type="date" id="fecha" placeholder="Escriba aqui" required>
                <br><br>
                <select name="est" id="est">
                        <option>Estado</option>
                        <option>Activo</option>
                        <option>No activo</option>
                </select>
            
              </div>
                <br/>
                <input class="submit" type="submit" value="Agregar">
            </form>
        </div>
    </main>
</div>