<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Panel de Control</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="catalogos_grid">
            <div>
                <a href="/especialidades">Especialidades</a>
            </div>
            <div>
                <a href="/modulo_componentes">Componentes</a>
            </div>
        </div>
</div>
</main>