<div class="main_contect">
  <main class="main_app">
    <section class="dash_title">
      <h2 class="pestana hidden home">Home</h2>
      <h2 id="title_modules">Apps</h2>
      <h2 id="title_pestaña" class="pestana hidden">Apps</h2>

      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <div class="modulo_componente_grid">
    
 <div class="contendedor_componente">
      <a href="/modules_management">
        <span class="caja_modulo1">
          <h1>Management</h1> 
           <p>
             Permitirá a cualquier institución médica tener el control 
             total de la distribucion y administracion de la institución médica.
           </p> 
    </span>
  </a>
      <a href="/modules_patient">
        <span class="caja_modulo2">
          <h1>Patient</h1> 
            <p>
              Permitirá tener el control de salud y de cada detalle 
              que se lleva a cabo en una institución médica sea pública o privada.
            </p> 
          </span>
  </a>
      <a href="/modules_erp">
        <span class="caja_modulo3">
          <h1>ERP</h1> 
            <p>
             Permitirá gestionar los procesos internos de la intitución medica. 
            </p> 
          </span>
  
   </div>
    </div>
  </main>
</div>