<div class="main_contect">
        <main class="main_app">
            <section class="dash_title">
                <h2 id="title_modules">Módulo Estadisticas:</h2>
                <a href="#"><span class="far fa-times-circle"></span></a>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            </section>
            <table>
                <form id="form-param">
                    <div class="container">
                        <div>
                            <input name="parametro" type="text" class="parametro" placeholder="parametro"><input type="number" class="valor" placeholder="valor">
                        </div>
                        <div>
                            <input name="parametro" type="text" class="parametro" placeholder="parametro"><input type="number" class="valor" placeholder="valor">
                        </div>
                    </div>
                    <table>
                        <div class="botones_estadisticas">
                            <button type="button" class="agregar">Agregar Parametro</button>
                            <button type="button" class="resultados">Mostrar Resultados</button>
                        </div>
                    </table>
                </form>
            </table>

            <div id="grafico"></div>


        </main>


    </div>