<div class="main_contect">
  <main class="main_app">
    <section class="dash_title">
      <h2 id="title_modules">Panel de Control</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <section class="dash_title">
      <h2>Componentes</h2>
    </section>

    <div class="modulo_controlador_grid">
    
 <div class="contendedor_modulo">
      <div class="caja_modulo1">
       <h1>Management</h1> 
       <p></p>
      </div>
    <div class="caja_modulo2">
      <h1>Business</h1>
      <p></p>
    </div>
    <div class="caja_modulo3">
      <h1>Patient</h1>
      <p></p>
    </div>
    <div class="caja_modulo4">
      <h1>ERP</h1>
      <p></p>
    </div>
   </div>
    </div>
  </main>
</div>