<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Módulo Estadisticas:</h2>
            <a href="#"><span class="far fa-times-circle"></span></a>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        </section>
        <div class="modulo_estadisticas_grid">

            <table>
                <form id="form-param">
                    <div class="container_estadisticas">
                        <div>
                            <input name="parametro_estadisticas" type="text" class="parametro_estadisticas" placeholder="Parametro"><input
                                type="number" class="valor_estadisticas" placeholder="valor">
                        </div>
                        <div>
                            <input name="parametro_estadisticas" type="text" class="parametro_estadisticas" placeholder="Parametro"><input
                                type="number" class="valor_estadisticas" placeholder="valor">
                        </div>
                    </div>
                        <table> <br>
                            <div class="botones_estadisticas">
                                <button type="button" class="agregar_estadisticas">Agregar Parametro</button>
                                <button type="button" class="resultados_estadisticas">Mostrar Resultados</button>
                            </div>
                        </table>
                </form>
            </table>
            <div id="grafico"></div>
        </div>
    </main>
</div>