<div class="main_contect">
  <main class="main_app">
    <section class="dash_title">
      <h2 id="title_modules">Modules</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <section class="dash_title">
      <h2></h2>
    </section>

    <div class="modules_grid">
      
      <h1>CONTROLADORES</h1>
    <h1>MODULOS MANAGEMENT</h1>


    <div class="galeria">
        <div class="foto">
            <img src="/img/f.png" alt="">
        </div>
        <div class="pie">
            <p>E M P L E A D O S  </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ab labore maiores sed deserunt eveniet debitis velit explicabo inventore magni accusamus rerum, error facilis. Ipsa esse quos aut mollitia ullam.</p>
            <form action="#">
                <button class="boton">M O S T R A R</button>
            </form>
        </div>
    </div>


    <div class="galeria">
        <div class="foto">
            <img src="/img/f1.png" alt="">
        </div>
        <div class="pie">
            <p>E M P L E A D O </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt dolorum vitae libero aliquam magnam aliquid. Non modi repellat quod exercitationem. Quasi, atque est eos ut sunt odit totam? Non, alias!</p>
            
            <form action="#">
                <button class="boton">M O S T R A R</button>
            </form>
        </div>
    </div>
    

    <div class="galeria">
        <div class="foto">
            <img src="/img/f2.png" alt="">
        </div>
        <div class="pie">
            <p>L A B O R A T O R I O S</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis perspiciatis id hic nostrum repellendus, cupiditate inventore aperiam eligendi saepe nemo pariatur impedit aut, praesentium voluptas ipsa non eius neque dicta.</p>
            <form action="#">
                <button class="boton">M O S T R A R</button>
            </form>
        </div>
    </div>

    </div>
  </main>
</div>