<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Patient:</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
        <div class="Patient_grid">
            <table>
            </table>
        </div>
    </main>
</div>