<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Sucursales Médicas</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
        <section class="instituciones_medicas_grid">
                {{#each instituciones}}
                <div>
                    <h1>{{id_institucion_medica}}</h1>
                    <span class="fas fa-hospital"></span>
                    <h1>{{nombre}}</h1>
                    <h1>{{formatDate creacioninstituciones_medicas}}</h1>
                </div>
                {{/each}}
        </section>
    </main>
</div>