<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section>
            <h2 id="title_view" class="hidden">Ajustes</h2>
        </section>

        {{>working}}
    </main>
</div>