<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Cita Medica</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
    
        <div class="Turnos_grid">
            <div class="container1">
                <h1 class="bg-light py-4text-info"><i class="las la-medkit Corazon"></i>Citas Medicas</h1>
            </div>
            <!--Crear los input-->
            <div class="container2">
                <div class="texto1">
                    <input type="text" id="productCode" placeholder="ID" required>
                </div>
                <div class="texto1">
                    <input type="text" id="productCode" placeholder="Cedula" required>
                </div>
                <div class="texto1">
                    <input type="text" id="productCode" placeholder="Nombre" required>
                </div>
                <div class="texto1">
                    <input type="text" id="productCode" placeholder="Correo" required>
                </div>
                <div class="texto1">
                    <input type="text" id="productCode" placeholder="Ciudad" required>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-success" id="btn-create">Crear</button>
                <button class="btn btn-warning" id="btn-update">Editar</button>
                <button class="btn btn-danger" id="btn-delete">Eliminar</button>
            </div>
        
            <div class="container">
                <table class="tabla_cita">
                    <caption><i class="las la-medkit"</i>Citas Medicas</caption>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Especialista</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Enfermedad</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="ID">1119</td>
                            <td data-label="Cedula">1112345678</td>
                            <td data-label="Nombre">Alex Romeo Chugchilan Bustamante</td>
                            <td data-label="Correo">alexr@</td>
                            <td data-label="Especialista">Dr. Luis Chamba</td>
                            <td data-label="Fecha">23-07-2022</td>
                            <td data-label="Hora">11:19:19</td>
                            <td data-label="Enfermedad">Rinitis</td>
                            <td data-label="Editar"><i class="lar la-edit Editar"></i></td>
                            <td data-label="Eliminar"><i class="las la-trash Eliminar"></i></td>
                        </tr>

                        <tr>
                            <td data-label="ID">1215</td>
                            <td data-label="Cedula">2307202209</td>
                            <td data-label="Nombre">Alexandra Katerine Chugchilan Bustamante</td>
                            <td data-label="Correo">fernandot@</td>
                            <td data-label="Especialista">Dr. Fernanda Tipan</td>
                            <td data-label="Fecha">10-08-2022</td>
                            <td data-label="Hora">12:20:20</td>
                            <td data-label="Enfermedad">Gastritis</td>
                            <td data-label="Editar"><i class="lar la-edit Editar"></i></i></td>
                            <td data-label="Eliminar"><i class="las la-trash Eliminar"></i></td>
                        </tr>

                        <tr>
                            <td data-label="ID">1320</td>
                            <td data-label="Cedula">4039281745</td>
                            <td data-label="Nombre">Paola Elizabeth Cevallos Velasco</td>
                            <td data-label="Correo">luisc@</td>
                            <td data-label="Especialista">Dr. Luis Cabrera</td>
                            <td data-label="Fecha">27-09-2022</td>
                            <td data-label="Hora">11:22:22</td>
                            <td data-label="Enfermedad">Hepática</td>
                            <td data-label="Editar"><i class="lar la-edit Editar"></i></td>
                            <td data-label="Eliminar"><i class="las la-trash Eliminar"></i></i></td>
                        </tr>

                        <tr>
                            <td data-label="ID">1425</td>
                            <td data-label="Cedula">2709202211</td>
                            <td data-label="Nombre">Melany Alejandra Chugchilan Neira</td>
                            <td data-label="Correo">hankr@</td>
                            <td data-label="Especialista">Dr. Hank Rearden</td>
                            <td data-label="Fecha">29-10-2022</td>
                            <td data-label="Hora">13:28:19</td>
                            <td data-label="Enfermedad">Cardiopatia</td>
                            <td data-label="Editar"><i class="lar la-edit Editar"></i></td>
                            <td data-label="Eliminar"><i class="las la-trash Eliminar"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>