<!-- MAIN CONTECT -->
<div class="main_contect">
    <div class="cuerpo_medicamentos">
        <main class="main_app">
            <section class="dash_title">
                <h2 id="title_modules">Medicamentos</h2>
                <a href="/home"><span class="far fa-times-circle"></span></a>
            </section>

            <div class="conte_medicamentos">
                <div class="card paracetamol">
                    <img src="https://image.shutterstock.com/image-illustration/3d-rendering-paracetamol-bottle-pills-260nw-765786238.jpg">
                </div>
                <div class="informacion_medicamentos">
                    <h1>Parecetamol </h1>
                    <p class="consumo">Para mayores de 3 años</p>
                </div>
                <div class="precio_medicamentos">
                    <div class="box-precio_medicamentos">
                        <span class="precio"><b>$5.00</b></span>
                    </div>
                    <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>

            <div class="conte_medicamentos">
                <div class="card aspirina">
                    <img src="https://historiaybiografias.com/archivos_varios4/aspirina.jpg">
                </div>
                <div class="informacion_medicamentos">
                    <h1>Aspirina</h1>
                    <p class="consumo">Para mayores de 3 años</p>
                </div>
                <div class="precio_medicamentos">
                    <div class="box-precio_medicamentos">
                        <span class="precio"><b>$12.00</b></span>
                    </div>
                    <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>

            <div class="conte_medicamentos">
                <div class="card amoxicilina">
                    <img src="https://w7.pngwing.com/pngs/596/550/png-transparent-amoxicillin-clavulanic-acid-pharmaceutical-drug-suspension-medicamentos-laboratory-suspension-pharmaceutical-drug-thumbnail.png">
                </div>
                <div class="informacion_medicamentos">
                    <h1>Amoxicilina</h1>
                    <p class="consumo">Para mayores de 10 años</p>
                </div>
                <div class="precio_medicamentos">
                    <div class="box-precio_medicamentos">
                        <span class="precio"><b>$3.00</b></span>
                    </div>
                    <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>
        </main>
    </div>
</div>
