<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Modulos</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
    
        <div class="Modulo_grid">
            <div class="container-vista2">
                <div class="tarjetas-vista">
                    <div class="top-row background-top-row">
                        <h4>Ciudad</h4>
                        <i class="las la-mountain" aria-hidden="true"></i>
                    </div>

                    <div class="contenido-vista">
                        <h2>Ciudad</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, veritatis?</p>
                        <button class="mostrar background-top-row">Mostrar</button>
                    </div>
                </div>
                <div class="tarjetas-vista">
                    <div class="top-row background-top-row">
                        <h4>Receta Medica</h4>
                        <i class="las la-user-md" aria-hidden="true"></i>
                    </div>

                    <div class="contenido-vista">
                        <h2>Medico</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, veritatis?</p>
                        <button class="mostrar background-top-row">Mostrar</button>
                    </div>
                </div>
                <div class="tarjetas-vista">
                    <div class="top-row background-top-row">
                        <h4>Sucursales</h4>
                        <i class="las la-hospital" aria-hidden="true"></i>
                    </div>

                    <div class="contenido-vista">
                        <h2>Sur-Norte</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, veritatis?</p>
                        <button class="mostrar background-top-row">Mostrar</button>
                    </div>
                </div>
                <div class="tarjetas-vista">
                    <div class="top-row background-top-row">
                        <h4>Medicamentos</h4>
                        <i class="las la-medkit" aria-hidden="true"></i>
                    </div>

                    <div class="contenido-vista">
                        <h2>Medicina</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, veritatis?</p>
                        <button class="mostrar background-top-row">Mostrar</button>
                    </div>
                </div>
                <div class="tarjetas-vista">
                    <div class="top-row background-top-row">
                        <h4>Registro</h4>
                        <i class="las la-address-book" aria-hidden="true"></i>
                    </div>

                    <div class="contenido-vista">
                        <h2>Registro</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, veritatis?</p>
                        <button class="mostrar background-top-row">Mostrar</button>
                    </div>
                </div>
                <a href="https://api.whatssapp.com/send?phone=987654321" class="boton-mas" target="-blank">
                    <i class="las la-plus"></i>
                </a>
            </div>
             
        </div>
    </main>
</div>