<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Signos Vitales</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="signos_vitales_grid">
           
             <div class="container">
        <form action="action_page.php">
          <div class="row">
            <div class="col-25">
                <label for="fre">Fecha</label>
            </div>
            <div class="col-75">
              <input type="date" id="fre" name="fre" >
            </div>
          </div>
          <div class="row">
            <div class="col-25">
                <label for="hora">Hora</label>
            </div>
            <div class="col-75">
              <input type="time" id="hora" name="hora" placeholder="Your last name..">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
                <label for="fre">Frec. Cardiaca (LPM)</label>
            </div>
            <div class="col-75">
                <input type="text" id="fre" name="fre" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
                <label for="frec">Frec Respiratoria (min)</label>
            </div>
            <div class="col-75">
                <input type="text" id="fre" name="frec" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
                <label for="ta">TA Diastolica</label>
            </div>
            <div class="col-75">
                <input type="text" id="ta" name="ta" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
                <label for="tem">Tem. Corporal (°C)</label>
            </div>
            <div class="col-75">
                <input type="text" id="tem" name="tem" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
                <label for="sat"> Saturacion SPO2(%)</label>
            </div>
            <div class="col-75">
                <input type="text" id="sat" name="sat" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
                <label for="oxi">Oxigeno O2 (Lts x min)</label>
            </div>
            <div class="col-75">
                <input type="text" id="oxi" name="oxi" placeholder="">
            </div>
          </div>

          
          <div class="row">
            <input class="submit" type="submit" value="Generar">
          </div>
        </form>
      </div>
        </div>
</div>
</main>