body{
    padding: 0;
    margin: 0;
    background: #ffffff;
}

.Inicio{
    width: 100%;
    max-width: 1145px;
    height: 500px;
    position: absolute;
    top: 60px;
    left: 200px;
    background:  #cccaca54 ;
    border-radius: 2%;
    text-align: center;
    color:#9c9595 ;
}

.Inicio h1{
color: #5f5f5f;
position: relative;
top: 40px;
}

.Inicio h4{
    color: #888585;
    position: relative;
    top: 40px;
    }

.Inicio h4{
    color: #888585;
    position: relative;
    top: 40px;
}   

.Inicio hr{
    position: relative;
    top: 40px;
    width: 350px;
}

.button{
    padding: 9px 9px;
    position: relative;
    top: 40px;
    border-radius: 80px;
    background:#b4adad;
    color: black;
    text-decoration: none;
}

.Inicio h6{
position: relative;
top: 40px;
}