.sidebar {
  width: 200px;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--color_dark_P);
background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  z-index: 100;
  color: #fff;
  overflow: hidden;
  transition: width 500ms;
  position: fixed;
  overflow-x: hidden;
}

.menu_toggle{
  transition: all .1s ease-in;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.menu_toggle:hover{
  background: rgba(0, 0, 0, 0.1);
}

.sidebar_header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.brand {
  display: flex;
  align-items: center;
}

.sidebar_header img {
  width: 40px;
  display: inline-block;
  padding-right: 1rem;
}

.sidebar_header .title_nav span:first-child{
  display: flex;
}

.sidebar_header .title_nav span:last-child{
  display: flex;
  font-size: 13px;
  font-weight: 100;
  opacity: 50%;
}

.sidebar_menu {
  margin-top: 1rem;
  padding: 1rem 0rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 4.8rem);
}

.sidebar_menu li {
  position: relative;
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.sidebar_menu li.active {
  background: #E8EEF4 !important;
  opacity: 100% !important;
  pointer-events: none
}

.sidebar_menu li.active a{
  color: #535a66 !important;
  cursor: default;
}

.sidebar_menu li.active a::before{
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 10px 10px 0 #E8EEF4;
}

.sidebar_menu li.active a::after{
  content: '';
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 10px -10px 0 #E8EEF4;
}

.sidebar_menu li:hover {
  opacity: 50%;
}

.sidebar_menu li:hover a {
  color: #fff;
}

.sidebar_menu a {
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.sidebar_menu a span {
  font-size: 1.3rem;
}

.list.active .fa-circle{
  display: block;
  animation: pointer_active_an 1.5s infinite ease-in-out;
}

.sidebar_menu .fa-circle{
  display: none;
}

@keyframes pointer_active_an {
  0%, 100% { 
    transform: scale(0.7);

  } 50% { 
    transform: scale(1);
  }
}

.sidebar_menu hr{
  height: 1px;
  background: white;
  border: none;
  width: 100%;
  margin: 10px 0;
}

.sidebar_menu div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_menu div span {
  font-size: 0.4rem;
}

.sidebar_menu .title {
  padding-left: 0.6rem;
  font-size: 13.5px;
}

.sidebar.active {
  width: 60px;
}

.sidebar.active .sidebar_header h3,
.sidebar.active .sidebar_menu li div {
  display: none;
}

.sidebar.active .sidebar_header,
.sidebar.active .sidebar_menu li {
  display: flex !important;
  justify-content: center !important;
}

.sidebar.active ~ .main_contect {
  margin-left: 60px !important;
}

.sidebar.active ~ .header_app {
  left: 60px !important;
  width: calc(100% - 60px) !important;
}

.main_contect {
  position: relative;
  margin-left: 200px;
  transition: margin-left 500ms;
  
}

.header_app {
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 60px;
  z-index: -1000 !important;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: all 500ms;
}

.header_app h5 {
  font-size: 0.8rem;
}

.header_app .sign_out {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.header_app .sign_out:hover {
  border-radius: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.06);
}

.header_app .sign_out span {
  font-size: 1.3rem;
}

.header_app .sign_out h5 {
  margin-left: 0.5rem;
}

.user_wrapper {
  text-align: right;
  display: flex;
  align-items: center;
}

.user_wrapper img {
  width: 31px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.user_wrapper h5 {
  text-transform: capitalize;
}

.user_wrapper p {
  font-size: 0.65rem;
  color: rgb(143, 143, 143);
}

.main_app{
  margin-top: 60px;
  padding: 1rem 3rem;
  background: #e8eef4;
  min-height: calc(100vh - 60px);
}

.dash_title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dash_title a {
  font-size: 1.2rem;
}

.forthcoming {
  filter: grayscale(100%) blur(2px);
}

/*Estilos-Crud- empleados*/

/*table th  {
  width: 10em;
  border: 1px solid  black;
}

table td {
  width: 10em;
  text-align: center;
  border-left: 1px solid;
  
}

table {
  border-collapse: collapse;
  border: 1px solid  black;
}

tr:nth-of-type(1) > th {
  background-color: #569ebd;
}

#formulario {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: rgb(230, 236, 241);
  padding: 25px;
  width: 40em;
  margin: auto;
  justify-content: center;
  
}

form input{
  margin: 15px;
  padding: 0.3em;
  
}
.add {
  text-align: right;
  margin: auto;
}

#agregar {
  padding: 5px 35px;
  text-align: center;
  background-color: #569ebd;
  border: 1px solid;
  border-radius: 1em;
}

button:hover {
  opacity: 0.7;
}

#new-employee {
  padding: 5px 35px;
  text-align: center;
  background-color: #569ebd;
  border: 1px solid;
  border-radius: 1em;
}

.botones-acciones {
  padding: 10px;
  margin: 5px;
}*/
