<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_view" class="pestana hidden">Nuevo Modulo</h2>
            <h2 class="pestana hidden">Modulos</h2>
        </section>
        <div class="componente_grid">
            <div>
                <div class="title">Nuevo Módulo</div>
                <form action="/modules/save" method="post">
                    <div class="user-details">
                        <div class="">
                            <span class="details">Nombre</span>
                            <input class="input" name="nombre_modulo" type="text" placeholder="Nombre del módulo"
                                required>
                        </div>
                        <div class="">
                            <span class="details">Aplicaciones </span>
                            <select name="id_aplicacion" class="input" id="aplicacion">
                                <option selected disabled value="">Selecciona una aplicación</option>
                                {{#each aplications}}
                                <option value={{id_aplicacion}}>{{nombre_aplicacion}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="">
                            <span for="tipo_modulo">Tipo de Modulo</span>
                            <select name="tipo_modulo" class="input" id="tipo_modulo">
                                <option selected disabled value="">Selecciona un tipo</option>
                                {{#each types_modules}}
                                <option value={{id_catalogo}}>{{valor_catalogo}}</option>
                                {{/each}}

                            </select>
                        </div>
                    </div>

                    <div class="button">
                        <input type="submit" value="Enviar Datos">
                    </div>

                </form>
            </div>
        </div>
    </main>
</div>