body{
  background: #AADAEF; 
}
*{
    padding: 0;
    margin: 0;
}
nav{
    width: 100%;
    background: white;
    box-shadow: 1px 1px 5px #000;
    height: 30px;
    padding-top: 10px;
}
nav ul a{
    color: #072041;
    text-decoration: none;
    font:verdana;
    padding: 5px;
}
.Buscador{
    width: 250px;
    height:20px;
    background:#4DCAD8;
    border-radius: 20px;
    position: relative;
    left: 90px;
    top: 30px;
}
.Buscar{
    
    background:#81D867;
    position: relative;
    left: 90px;
    top: 30px;
}
.Bordes{
    width: 500px;
    height:200px;
    background: #3E8ACC;
    border-radius: 20px;
    position: relative;
    top:50px;
    left:50px;
}
.Imagen{
    width: 100px;
    height:100px;
    background: white;
    border-radius: 20px;
    position: relative; 
    left:20px;
    top:40px;
}
.Información{
    width: 340px;
    height:100px;
    background:#4DCAD8;
    border-radius: 20px;
    position: absolute;
    left: 140px;
    top: 40px;
}

