
<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">

    <div class="first_grid">
      <section class="dash_title">
        <h2 id="title_modules">Pacientes</h2>
      </section>

      <section class="modules" id="modules">
        <!-- MODULES -->
      </section>
      <section class="welcome_card">
        <img src="img/family.png" alt="" />
        <div class="container_welcome">
          
            <h3>Hola <span>{{user.nombre}},</span></h3>
            <h1>Bienvenido a <span>Salutest</span></h1>
            <div class="paragraphs">
            <h2>Evaluar tus síntomas es muy fácil</h2>

              <div class="paragraph_single">
                <span class="number_order">1</span>
                <p>
                  Indica tus síntomas.
                </p>
              </div>
              <div class="paragraph_single">
                <span class="number_order">2</span>
                <p>
                  Nuestro sistema te hace las
                  preguntas que te haría un médico.
                </p>
              </div>
              <div class="paragraph_single">
                <span class="number_order">3</span>
                <p>
                  Obtén un listado de posibles enfermedades y una recomendación
                  indicándote qué hacer a continuación.
                </p>
              </div>
            </div>
            <span class="fas fa-chevron-down chevron"></span>
          
        </div>
      </section>

      <section class="options">

        <a href="#" class="options_card">
          <div>
            <h1>Cita Médica</h1>
            <span>Agenda una cita médica</span>
            <h5>Y recibe una atención inmediata.</h5>
          </div>
          <div>
            <span class="fas fa-user-md"></span>
          </div>
        </a>

        <a href="#" class="options_card">
          <div>
            <h1>Control de Peso</h1>
            <span>Evalua tu peso</span>
            <h5>Para mantener un peso ideal.</h5>
          </div>
          <div>
            <span class="fas fa-weight"></span>
          </div>
        </a>

        <a href="/test" class="options_card">
          <div>
            <h1>Test</h1>
            <span>Evalúa tu salud</span>
            <h5>Recuerda tus resultados seran aproximados.</h5>
          </div>
          <div>
            <span class="fas fa-notes-medical"></span>
          </div>
        </a>    
       
      </section>
    </div>
  </main>

</div>