:root{
    --white-text-1:rgb(12, 12, 12);
}

.background-top-row{
    background-color: #21c8f6;
    backdrop-filter: blur(.4rem);
}

.container-vista2{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.tarjetas-vista2{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    overflow: hidden;
    width: 15rem;
    backdrop-filter: blur(1rem);
    background-color: #fff;
    border: 1rem solid rgba(255, 255, 255, 0.060);
    color: var(--white-text-1);
}

.tarjetas-vista2 h6{
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.tarjetas-vista2 h2{
    letter-spacing: .1rem;
    text-align: center;
}

.top-row{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-row i{
    font-size: 2rem;
}

.contenido-vista2{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.contenido-vista2 p{
    font-size: .9rem;
    text-align: center;
}

.mostrar2{
    border-radius: 3rem;
    color: #fff;
    font-size: .8rem;
    padding: .5rem .3rem;
    letter-spacing: .1rem;
    align-self: flex-end;
    border: .1rem solid rgba(255, 255, 255, 0.18);
}

.boton-mas{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #21c8f6;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.boton-mas:hover{
    text-decoration: none;
    color: #21c8f6;
    background: #fff;
    
}