
.tablita_specialties{
    display: inline-block;    
}
/*Tablaaaaaa Estilos*/
.tablita_specialties{
border-collapse: collapse; /*Esta propiedad hace que parezca mas una tabla*/
font-family: 'Quicksand', sans-serif;
}
.tablita_specialties tr th{
    border: 1px solid #000000;
    width: 120px;
    height: 25px;
    color: white;
    background-color: rgba(40,65,120,1);
}
/* Para el estilo de las nuevas celdas */
.tablita_specialties td {
    border: 1px solid #000000;
    width: 100px;
    height: 25px;
}
.caja_specialties{
    display: block;
}
.caja_specialties label{
    font-family: 'Quicksand', sans-serif;
    
}
.ccaja_specialties input{
    width: 8em;
    height: 2em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;  
    
}
.submit{
    width: 8em;
    height: 2em;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: rgba(40,65,120,1);
    border: 1px solid rgb(0, 0, 0);
}