.profile_grid {
  display: grid;
  height: calc(100vh - 10rem);
  grid-template-columns: 20% calc(80% - 1.5rem);
  grid-column-gap: 1.5rem;
}

.profile_preview {
  padding: 1.5rem;
  border-radius: 7px;
  background: #35405c;
}

.general_data {
  text-align: center;
  color: white;
}

.general_data img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: inset 2px #ffffff;
}

.general_data h3 {
  font-size: 1rem;
  text-transform: capitalize;
}

.general_data span {
  font-size: 0.8rem;
}

.personal_data {
  margin-top: 2rem;
}

.personal_data_header {
  text-transform: uppercase;
  color: var(--color_dark_P);
  font-size: 0.8rem;
  font-weight: 500;
}

.card_data_single {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_data_single h5 {
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
}

.card_data_single span {
  color: rgb(184, 184, 184);
  font-size: 0.8rem;
}

.profile_edit {
  border-radius: 7px;
  background: white;
  display: grid;
  grid-template-columns: 26% 74%;
}

.sidebar_profile {
  padding: 1rem;
  border-right: 1px solid rgb(194, 194, 194);
}

.sidebar_profile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_profile_header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_profile_header h1 {
  margin-left: 0.5rem;
}

.sidebar_profile_contect {
  margin-top: 1rem;
}

.sidebar_profile_contect li {
  padding: 0.5rem;
}

.sidebar_profile_contect li:hover {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.06);
}

.sidebar_profile_contect a {
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.sidebar_profile_contect a span {
  font-size: 1.3rem;
}

.sidebar_profile_contect div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_profile_contect div span {
  font-size: 0.4rem;
}

.sidebar_profile_contect a div span:first-child {
  padding-left: 0.6rem;
  font-size: 15px;
}

.profile_settings {
  height: calc(100vh - 10rem);
  padding: 3rem;
  overflow-y: scroll;
}

.profile_settings .section_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_settings .section_right a {
  color: var(--color_dark_P);
  font-size: 0.8rem;
}

.general_settings {
  padding: 1rem;
  display: grid;
  grid-template-columns: 30% 70%;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.general_settings h1 {
  text-transform: capitalize;
}

.general_settings img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #35405c;
}

.general_settings input{
  width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}

.general_settings .section_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.general_settings .section_left div {
  position: relative;
}

.general_settings .section_left div div {
  width: 30px;
  height: 30px;
  background: #35405c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.general_settings span {
  font-size: 1.3rem;
  color: white;
}

.personal_settings_card {
  padding: 1rem;
  border-bottom: 1px solid rgb(233, 233, 233);
  display: grid;
  grid-template-columns: 30% 70%;
}

.personal_settings_card .value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal_settings_card .value h5 {
  font-weight: normal;
  color: rgb(160, 160, 160);
}

.personal_settings_card .value span {
  margin-right: 0.5rem;
  color: #a0a0a0;
}