.contenido{
    padding-left: 2rem;
    padding-right: 2rem;
}

.tarjetas-seccion{
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.tarjetas-erp{
    background: #0CB7F2;
    padding: 1.75rem;
    border-radius: 1.75rem;
    display: flex;
    flex-wrap: wrap;
}

.tarjetas-erp .tarjetas-header{
    flex-basis: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.tarjetas-erp .tarjetas-body{
    flex-basis: 100%;
    margin-top: 1.2rem;
}

.tarjetas-erp .tarjetas-body p{
    margin: 0;
}

.tarjetas-erp .tarjetas-body a{
    text-decoration: none;
    color:black;
    display: inline-block;
    padding: 0.7rem 1.75rem;
    border: 1px solid transparent;
    background-color: #53d4ff;
    border-radius: 1.75rem;
    margin-top: 1.2rem;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
}

.tarjetas-erp .tarjetas-body a:hover{
    background-color: transparent;
    border-color: #0e171f;
    color: #0e171f;
}

.tarjetas-erp .tarjetas-footer{
    flex-basis: 100%;
    align-self: flex-end;
    text-align: end;
    font-size: 0.8rem;
}

.boton-mas{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #21c8f6;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.boton-mas:hover{
    text-decoration: none;
    color: #21c8f6;
    background: #fff;
    
}

.boton-mas h2{
    position: fixed;
    line-height: 45px;
    right: 30px;
    color: #21c8f6;
    text-align: center;
    font-size: 25px;
    z-index: 100;
    top: 520px;
}