.contenido{
    padding-left: 2rem;
    padding-right: 2rem;
}

.tarjetas-seccion{
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.tarjetas-erp{
    background: #0CB7F2;
    padding: 1.75rem;
    border-radius: 1.75rem;
    display: flex;
    flex-wrap: wrap;
}

.tarjetas-erp .tarjetas-header{
    flex-basis: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.tarjetas-erp .tarjetas-body{
    flex-basis: 100%;
    margin-top: 1.2rem;
}

.tarjetas-erp .tarjetas-body p{
    margin: 0;
}

.tarjetas-erp .tarjetas-body a{
    text-decoration: none;
    color:black;
    display: inline-block;
    padding: 0.7rem 1.75rem;
    border: 1px solid transparent;
    background-color: #53d4ff;
    border-radius: 1.75rem;
    margin-top: 1.2rem;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
}

.tarjetas-erp .tarjetas-body a:hover{
    background-color: transparent;
    border-color: #0e171f;
    color: #0e171f;
}

.tarjetas-erp .tarjetas-footer{
    flex-basis: 100%;
    align-self: flex-end;
    text-align: end;
    font-size: 0.8rem;
}