.componente_grid {
  display: flex;
   height: calc(100vh - 10rem );
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border-radius: 7px;
}

.componente_grid .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

}
.componente_grid .title::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.componente_grid form .user-details {
  background-color: white;
  padding: 20px 10px;
  border-radius: 7px;
}

.componente_grid form .user-details > div{
  margin: 20px;
}
.componente_grid form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}
.componente_grid form .component-details .component-title {
  font-size: 25px;
  font-weight: 500;
}
.componente_grid form .component-details .category {
  display: flex;
  width: 80%;
  width: 20px 0;
  font-size: 40px;

  justify-content: space-between;
}
.component-details .category label {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 20px;
}
.component-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  border-color: #d9d9d9;
  background: #9b59b6;
}
.componente_grid form input[type="radio"] {
  display: none;
}
.componente_grid form .button {
  height: 45px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
}
.componente_grid form .button:hover {
  transform: scale(1.1);
}
.componente_grid form .button input {
  height: 90%;
  width: 50%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  letter-spacing: 1px;

  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  cursor: pointer;

}
