.modulo_estadisticas_grid {
    height: calc(100vh - 10rem);
    border-radius: 7px;
    background: white;
}

.parametro {
    padding: 20px;
    background-color: #fff;
    display: flex;
}

button type {
    flex: 1;
    width: auto;
}

input {
    padding: 9px;
    margin: 6px;
    width: 42%
}

.butones_estadisticas {
    border: none;
    padding: 9px;
    display: block;
    margin: 6px;
    background-color: #0015ff;
}