/*Card General*/
 .per-card-3 {
    height: 220px;
    background: white;
}

.componente_patient_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    flex-wrap: nowrap;
    height: calc(100vh - 10rem - 30px);
    position: relative;
}



/*Connect hover*/

 .per-card-3 .card-image {
    height: 20%;
    background-image: radial-gradient(circle at 37.72% -19.64%, #77b2cc 0, #4f9aba 25%, #0180a7 50%, #006794 75%, #005184 100%);
    text-align:center;
    
}


/* Título Content*/ 
    
 .per-card-3 .card-content {
    text-align: center;
    padding: 40px;
    position: relative;
}
 .per-card-3 .card-image .per-name {
    position:relative;
    top: 40%;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 20px;
    color: #fff;
}

 .per-card-3 .card-content .per-position {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #535a66;;
}

 .per-card-3 .card-content .card-text {
    padding: 10px;
}
    
 .per-card-3 .card-content .card-text span {
    font-size: 13px;
    color: #535a66;
}

    
 .per-card-3 .card-content .social-icons .card-btn {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

/*Conect boton*/
 .per-card-3 .card-content .social-icons .card-btn button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #ffffff;
    background-image: radial-gradient(circle at 37.72% -19.64%, #77b2cc 0, #4f9aba 25%, #0180a7 50%, #006794 75%, #005184 100%);
    border: none;
}

 .per-card-3 .card-content .social-icons .card-btn button:hover{
    background:#57909e;
}

/* Aqui empieza el codigo del boton circular. */
.boton-circular {
    right: 65px;
    bottom: 60px;
    margin-bottom: 10px;
	position: fixed;
	display: flex;
	width: 125px;
	height: 50px;
	background: #fdfdfd;
	line-height: 50px;
	
	border-radius: 50px;
	border: 2px solid #63B1D0;
	margin-top: 10px;
	-webkit-transition: .5s;
	transition: .5s
}

.boton-circular .slide-icono {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background-color: #63B1D0;
	color: #fff; 
	line-height: 42px;	
	text-align: center;
	border-radius: 50%;
	margin: 5px;
  -webkit-transition: .5s;
  -moz--transition: .5s;
  -o-transition: .5s;
	transition: .5s;
}

.boton-circular .slide-texto {
	position: absolute;
	left: 58px;
	color: #63B1D0;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
  -webkit-transition: .5s;
  -moz--transition: .5s;
  -o-transition: .5s;
	transition: .5s;
}

.boton-circular:hover {
	background-color: #63B1D0;
}

.boton-circular:hover .slide-icono {
	left: 100%;
	background-color: #fdfdfd;
	color: #63B1D0;
	margin-left: -45px;
}

.boton-circular:hover .slide-texto {
	left: 20px;
	color: #fff;
}