<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saluth Business {{#if title404}}{{title404}}{{/if}}</title>
    <link rel="icon" href="/img/Saluth_ligth.svg" type="image/gif">

    <!-- STYLES WEB -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- STYLES ELEMENTS -->
    <link rel="stylesheet" href="/styles/variable.css">
    <link rel="stylesheet" href="/styles/styles_loader.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_input.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_button.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_module_card.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_side_summary.css">
    <link rel="stylesheet" href="/styles/styles_working.css">
    <link rel="stylesheet" href="/styles/styles_404.css">

    <!-- STYLES MODULES -->
    <link rel="stylesheet" href="/styles/styles_login.css">
    <link rel="stylesheet" href="/styles/styles_navegation.css">
    <link rel="stylesheet" href="/styles/styles_message.css">
    <link rel="stylesheet" href="/styles/styles_home.css">
    <link rel="stylesheet" href="/styles/styles_profile.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_solicitudes.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_medical_institutions.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_medical_branch.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_specialties.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_menu_apps.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_modules.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_modules_form.css">


    <!-- SCRIPTS -->
    <script src="https://unpkg.com/feather-icons"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/413703a1a2.js" crossorigin="anonymous"></script>
</head>

<body>
    {{>loader}}
    {{>navegation}}
    {{{body}}}
</body>

<!-- SCRIPTS -->
<script src="/js/loader.js"></script>
<script src="/js/solicitudes_filter.js"></script>
<script src="/js/navegation_active.js"></script>
<script src="/js/icons_module.js"></script>
<script src="/js/shortcut.js"></script>
<script>
    feather.replace()
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>

</html>