.navegation_pestanas{
  top: 60px;
  left: 200px;
  width: calc(100% - 200px);
  height: 30px;
  z-index: -1000 !important;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: all 500ms;
}

.nav_pestaña_active{
  background-color: red;
}