.scroll{
    overflow: hidden;
}

.fondo-popup {
	background: rgba(0, 0, 0, 0.644);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
    visibility: hidden;
	z-index: 10000;
	
}

.fondo-popup.active {
	visibility: visible;
}

.contenedor-test{
    box-shadow: 0px 0px 10px .5px rgba(0,0,0,0.3);
    width: 700px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    z-index: 200;
    transition: .5s ease all;
    transform: scale(0.7);
	opacity: 0;
}

.pantalla-dos .contenido-lateral-derecho{
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    width: 60%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

}

.pantalla-dos .texto-preguntas p{
   margin: 40px 0;
}

.pantalla-dos .texto-preguntas hr{
    width: 200px;
    height: 1px;
    background: rgba(0, 0, 0, 0.452);
    border: none;
    margin: 10px auto;
   
}

.pantalla-dos .contenido-lateral-izquierdo{
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(75, 180, 175);
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    width: 40%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pantalla-dos .contenido-lateral-izquierdo .lista-enfermedades a{
    margin: 20px;
    padding: 15px;
    background: #3f3f3f;
    color: white;
    display: block;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    box-shadow: 0 2px 12px #181a1bad;
    transition: all .5s ;

}

.pantalla-dos .contenido-lateral-izquierdo .lista-enfermedades a:hover{
    background: #323536a9;


}

.pantalla-dos .contenido-lateral-izquierdo .lista-enfermedades a:active {
    transform: scale(0.82);
    background-color: #252a2cd3;
    box-shadow: 0 2px 25px #17191a;
  }

.contenido-botones button{
    position: absolute;
    right: 40px;
    bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.63);
    cursor: pointer;
    outline: none;
}

.contenido-botones button:hover{
    color: rgba(0, 0, 0, 0.658);
    border-bottom: 1px solid rgba(0, 0, 0, 0.438);

}

.contenedor-test.active {transform: scale(1); opacity: 1; }
