<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section>
            <h2 id="title_view" class="hidden">Data Control</h2>
        </section>

        {{!-- <div class="catalogos_grid">
            <div>
                <a href="/modulo_componentes">Datos Escenciales</a>
            </div>
        </div> --}}
        {{>working}}
    </main>
</div>