<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <!-- MAIN -->
    <section class="dash_title">
      <h2 id="title_modules">Agendar Cita</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <div class="container_cita_cp_1">  
        <section class="container_left">
          <div class="detalle_paciente">
            <p><span>Nombre:</span> Jhon Anderson Tanicuchi Vallejo</p>
            <p><span>Cédula:</span> 1725028540</p>
          </div>
          <div class="">
            <section class="especialidad">
              <div class="container_especialidad">
                <div class="title">
                  <h1>Especialidad:</h1>
                </div>
                <div class="select-box">
                <div class="options-container">
                  
                  <div class="option">
                    <input type="radio" class="radio" id="automobiles" name="category"/>
                    <label for="automobiles">Medicina General</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="science" name="category" />
                    <label for="science">Neumología</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="science" name="category" />
                    <label for="science">Neurología</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="science" name="category" />
                    <label for="science">Nutriología</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="film" name="category" />
                    <label for="film">Oftalmología</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="science" name="category" />
                    <label for="science">Pediatría</label>
                  </div>
                  
                </div>
                
                <div class="selected">
                  Selecciona una especialidad
                </div>
              </div>
            </section>
            <section class="medicos">


              <div class="card_doctor">
                <div class="section_img">
                  <img src="/img/img_profile.png" alt="">
                </div>
                <div class="sections">
                  <div class="section">
                    <span>JHON ANDERSON TANICUCHI VALLEJO</span>
                  </div>
                  <div class="section">
                    <span>MEDICINA GENERAL</span>
                  </div>
                  <div class="section">
                    <span>5 ESTRELLAS</span>
                  </div>
                </div>
              </div>

              <div class="card_doctor">
                <div class="section_img">
                  <img src="/img/img_profile.png" alt="">
                </div>
                <div class="sections">
                  <div class="section">
                    <span>JHON ANDERSON TANICUCHI VALLEJO</span>
                  </div>
                  <div class="section">
                    <span>MEDICINA GENERAL</span>
                  </div>
                  <div class="section">
                    <span>5 ESTRELLAS</span>
                  </div>
                </div>
              </div>

              <div class="card_doctor">
                <div class="section_img">
                  <img src="/img/img_profile.png" alt="">
                </div>
                <div class="sections">
                  <div class="section">
                    <span>JHON ANDERSON TANICUCHI VALLEJO</span>
                  </div>
                  <div class="section">
                    <span>MEDICINA GENERAL</span>
                  </div>
                  <div class="section">
                    <span>5 ESTRELLAS</span>
                  </div>
                </div>
              </div>
              
            </section>
            <section class="container_bot">
              <a href="/cita_home">
                <button class="btn_salutest">Cancelar</button>
              </a>
              <a href="/cita_cp_2">
                <button class="btn_salutest">Continuar</button>
              </a>
            </section>
          </div>
        </section>

        <section class="container_right">
          
          <div class="calendar" id="calendar"></div> 
                     
          <div class="disponibilidad">
            <div class="title">
              <h1>Disponibilidad</h1>
            </div>
            <div class="contenido">
              <div class="card_hour">
                <span>9:00am</span>              
              </div>
              <div class="card_hour">
                <span>9:30am</span>              
              </div>
              <div class="card_hour">
                <span>10:00am</span>              
              </div>
              <div class="card_hour">
                <span>10:30am</span>              
              </div>
              <div class="card_hour">
                <span>11:00am</span>              
              </div>
              <div class="card_hour">
                <span>11:30am</span>              
              </div>
              <div class="card_hour">
                <span>12:00pm</span>              
              </div>
              <div class="card_hour">
                <span>12:30pm</span>              
              </div>
              <div class="card_hour">
                <span>1:00pm</span>              
              </div>
              <div class="card_hour">
                <span>1:30pm</span>              
              </div>
              <div class="card_hour">
                <span>2:00pm</span>              
              </div>
              <div class="card_hour">
                <span>2:30pm</span>              
              </div>
              
            </div>
          </div>
        </section>
    </div>
  </main>

</div>