<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <!-- MAIN -->
    <section class="dash_title">
      <h2 id="title_modules">Agendar Cita</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <!-- VENTANA MODAL -->
    <div class="fondo-popup" id="fondo-popup">
      <div class="popup save" id="popup">
        <div class="contenido-left"> 
          
        </div>
        <div  class="contenido-right">

          <div class="texto-Modal-Presentacion">
            <h3><strong>Perfecto tu cita sera guardada</strong></h3>
            <p>Confirma tu solicitud</p>
            <h4>Ten en cuenta que todos los campos esten correctos.</h4>
          </div>
          
          <div class="boton-Modal">
            <a href="/registro_citas">
              <button class="btn_salutest btn_aceptar" id="btn_aceptar">Aceptar</button>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="container_cita_cp_2">  
        <section class="container_left">
          <div class="detalle_paciente">      
            <p><span>Nombre:</span> Jhon Anderson Tanicuchi Vallejo</p>
            <p><span>Cédula:</span> 1725028540</p>
          </div>
          <div class="">
            <section class="especialidad">
              <div class="container_especialidad">
                <div class="title">
                  <h1>RESUMEN DE LA CITA</h1>
                </div>
              </div>
            </section>

            <section class="resumen_cita">
              <div class="content_top">
                <div class="content_left">
                  <div class="details">
                    <div><span>FECHA:</span><span>26-10-2021</span></div>
                    <div><span>HORA:</span><span>12:30pm</span></div>
                    <div><span>MÉDICO:</span><span>Fabian Arturo</span></div>
                    <div><span>ESPECIALIDAD:</span><span>Medicna General</span></div>
                  </div>
                  <div class="resume">
                    <p>Sr/a Jhon su cita a sido asignada correctamente para las 10:50, se recomienda estar puntal.</p>
                  </div>
                  
                </div>
                <div class="content_right">
                  <img src="img/family.png" alt="">
                </div>
              </div>
              <div class="content_bot">
                <div class="recomendation">
                  <p><span>Recuerda </span>Para cancelar una cita médica lo puedes realizar a traves del <a href="/registro_c">
                    <span>REGISTRO DE CITAS</span>
                  </a></p>
                </div>
              </div>
            </section>

            <section class="container_bot">
              <a href="/cita_home">
                <button class="btn_salutest">Cancelar</button>
              </a>
              <button class="btn_salutest" id="btn_save_cita">Agendar Cita</button>
            </section>
          </div>
        </section>

        <section class="container_right">
          <section class="profile_preview">
        <div class="general_data">
          <img src="/img/img_profile.png" alt="" />
          <div>
            <h3>Fabian Arturo</h3>
            <span>fabian@gmail.com</span>
          </div>
        </div>
        <div class="personal_data">
          <div class="personal_data_header">
            <span>Datos Personales</span>
          </div>
          <div class="personal_data_contect">
            <div class="card_data_single">
              <h5>Cédula:</h5>
              <span>1726272829</span>
            </div>

            <div class="card_data_single">
              <h5>Género:</h5>
              <span>Masculino</span>
            </div>

            <div class="card_data_single">
              <h5>Edad:</h5>
              <span>35 años</span>
            </div>

            <div class="card_data_single">
              <h5>Teléfono:</h5>
              <span>0981853479</span>
            </div>

          </div>
        </div>
      </section>
    </div>
  </main>

</div>