<!-- MAIN CONTECT -->
<div class="main_contect {{#unless user}}width_full{{/unless}}">
    <main class="main_app">
        <h2 id="title_view" class="hidden">Error 404</h2>
        <div class="error_404_grid ">
            <div class="animation_404">
       
            </div>
            <div class="info_404">
                <div>
                    <h1>404</h1>
                    <h2>¡UH OH! Estas perdido.</h2>
                    <p>La página que buscas no existe. Cómo llegaste aquí es un misterio.<br>Pero puedes buscar en la navegación la página que deceas acceder.
                    </p>
                    <button onclick="window.location='/'" class="btn">Home</button>
                </div>
            </div>
        </div>
    </main>
</div>