{{#if user}}
<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
    <div class="sidebar_header">
        <h3 class="brand">
            <img src="/img/icon_new_white.png" alt="logo">
            <span>Salutest</span>
        </h3>
        <label id="toggle" class="las la-bars menu_toggle"></label>
    </div>

    <div class="sidebar_menu">
        <ul>
           <li class="list">
                <a href="/profile">
                    <span class="las la-user"></span>
                    <div>
                        <span class="title">Perfil</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/catalogos">
                    <span class="las la-lbum-collection-circle-user"></span>
                    <div>
                        <span class="title">Catálogos</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

             <li class="list">
                <a href="/certificado_medico">
                    <span class="las la-file-medical"></span>
                    <div>
                        <span class="title">Certificado Médico</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/crud_turnos">
                    <span class="las la-calendar"></span>
                    <div>
                        <span class="title">Turnos</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/diagnosis">
                    <span class="las la-stethoscope"></span>
                    <div>
                        <span class="title">Diagnóstico</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/empleados">
                    <span class="las la-user-doctor"></span>
                    <div>
                        <span class="title">Empleados</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

               <li class="list">
                <a href="/especialidades">
                    <span class="las la-staff-aesculapius"></span>
                    <div>
                        <span class="title">Especialidades</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/laboratorios">
                    <span class="las la-flask-vial"></span>
                    <div>
                        <span class="title">Laboratorios</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/lista_pacientes">
                    <span class="las la-users-medical"></span>
                    <div>
                        <span class="title">Lista de Pacientes</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/recetaMedica">
                    <span class="las la-capsules"></span>
                    <div>
                        <span class="title">Receta Médica</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/roles">
                    <span class="las la-rectangle-history-circle-user"></span>
                    <div>
                        <span class="title">Roles</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/sucursales">
                    <span class="las la-route"></span>
                    <div>
                        <span class="title">Sucursales</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/vistcrudcitas">
                    <span class="las la-table-tree"></span>
                    <div>
                        <span class="title">Citas</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/vistcrudhorarios">
                    <span class="las la-clock-eight"></span>
                    <div>
                        <span class="title">Horarios</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            











             <li class="list">
                <a href="/salud_home">
                    <span class="las la-procedures"></span>
                    <div>
                        <span class="title">Control Salud</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            {{!-- <li class="list">
                <a href="/test">
                    <span class="las la-notes-medical"></span>
                    <div>
                        <span class="title">Test Rapido</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li> --}}
            <li class="list">
                <a href="/cita_home">
                    <span class="las la-user-md"></span>
                    <div>
                        <span class="title">Agendar Cita</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/registro_c">
                    <span class="las la-book-medical"></span>
                    <div>
                        <span class="title">Registro Citas</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/test">
                    <span class="las la-notes-medical"></span>
                    <div>
                        <span class="title">Test</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/chat">
                
                    <span class="las la-comments"></span>
                    <div>
                        <span class="title">Chat Médico</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
           
            
        </ul>
        <ul>
            <li class="list">
                <a href="/record">
                    <span class="las la-history"></span>
                    <div>
                        <span class="title">Historia Clínica</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/settings">
                    <span class="las la-cog"></span>
                    <div>
                        <span class="title">Ajustes</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

{{/if}}