<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salutest | Header</title>
    <link rel="icon" href="/Versión 1.2/Salutest/resources/img/Favicon.png" type="image/gif" sizes="16x16">

    <!-- STYLES -->
    <link rel="stylesheet" href="/Versión 1.2/Salutest/styles/style_header.css" />
    <link rel="stylesheet" href="/Versión 1.2/Salutest/styles/variable.css">

    
</head>

<body>

    <header>
        <div>
            <img src="/Versión 1.2/Salutest/resources/img/Icono.png" alt="" />
            <h1>Salutest</h1>
        </div>
        <div>
            <p>V1.2</p>
        </div>
    </header>
    
</body>

</html>


