<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salutest | Test</title>
    <link rel="icon" href="/Versión 1.2/Salutest/resources/img/Favicon.png" type="image/gif" sizes="16x16">

    <!-- STYLES -->
    <link rel="stylesheet" href="/Versión 1.2/Salutest/styles/style_test.css" />
    <link rel="stylesheet" href="/Versión 1.2/Salutest/styles/variable.css" />

    <!-- SCRIPTS -->
    <script src="/Versión 1.2/Salutest/js/include-html.js"></script>

</head>

<body>
    <div data-include="/Versión 1.2/Salutest/views/modules/header.html"></div>
    <div class="container_test">
        <div data-include="/Versión 1.2/Salutest/views/modules/nav.html"></div>
        <section class="dashboard">
        
        </section>
    </div>
    
</body>

</html>