{{#if user}}
<!-- SIDEBAR -->
<input type="checkbox" id="sidebar_toggle">
<div class="sidebar">
    <div class="sidebar_header">
        <h3 class="brand">
            <img src="/img/icon_new_white.png" alt="logo">
            <span>Salutest</span>
        </h3>
        <label for="sidebar_toggle" class="las la-bars"></label>
    </div>
    <div class="sidebar_menu">
        <ul>
            <li>
                <a class="active" href="/profile">
                    <span class="las la-user"></span>
                    <div>
                        <span>Perfil</span>
                        <span class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/inquiries">
                    <span class="las la-stethoscope"></span>
                    <div>
                        <span>Consultas</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/record">
                    <span class="las la-history"></span>
                    <div>
                        <span>Actividad</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/settings">
                    <span class="las la-cog"></span>
                    <div>
                        <span>Ajustes</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

{{/if}}