.switch {
  background: #333333;
  border-radius: 15px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  transition: all .5s ease;
  height: 30px;
}

.switch::after {
  content: "";
  margin: 4px;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #F1F1F1;
  right: 21px;
  border-radius: 100px;
  transition: .5s right ease-in-out;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: #ffffff;
  color: #000;
}

.switch.active::after {
  right: 0px;
}

.switch span {
  width: 25px;
  height: 28px;
  line-height: 28px;
  display: block;
  background: none;
  color: #fff;
}
