:root{
	--white-text:#fff;
	--background:#c8e8f1;
	--black-text:rgb(68, 66, 66)	
	--prueba: (180deg,#21c8f6,#637bff);
}

.background1-left-column{
	background: rgb(83, 90, 102);
    fill: rgb(83, 90, 102);

}


.background2-left-column{
	background: linear-gradient(180deg ,#ebf6f4,#c5c5c5);
}


* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	border: none;
}


body {
	font-family: Arial, Helvetica, sans-serif;	
}

.container{
	display: flex;
	justify-content: center;
	height: 100vh;
    align-items: center;
}

.card {
	background-color:var(--white-text);
	border-radius: 1rem;
    border: 1px solid rgb(157, 154, 154);
	display: flex;	
	margin: 1.5rem;
	overflow: hidden;
	width: 39em;
	height: 35rem;
}

.card h6 {
	opacity: 0.6;	
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.card  h2 {
	letter-spacing: .1rem;
	color: var(black-text);
}

h4.resul {
    justify-content: center;
}

/*LA COLUMNA AZUL*/
.left-column {	
	color: var(--white-text);
	padding: 2rem;
	max-width: 10rem;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.left-column h2{
	color: var(--white-text);
}

.left-column i img {
	font-size: 1rem;
    height: 50px;
}

.right-column {
	padding: 30px;
	width: 100%;
	display: flex;
    flex-direction: column;
}

.right-column p{	
	font-size: .9rem;
	color: var(--black-text)
}

.button {
	border-radius: 5px;
	color: var(--white-text);
	font-size: 1.2rem;
	padding: .5rem 0.5rem;
	letter-spacing: .1rem;
	align-self: flex-end;
    cursor: pointer;
}

/*media queries*/

@media (max-width: 1030px) {
	.container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:auto;
	}
  }