<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <section class="dash_title">
      <h2 id="title_modules">Chat Médico</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>
    <div class="chat_grid">
       <div class="wrapper">
        <div class="title"></div>
        <div class="client">
            <img src="img/icon_new_dark.png" height="60"/>
            <div class="client-info">
                <h2>Salutest</h2>
                <p>En línea</p>
            </div>
        </div>
        
        <div class="form">
            <div class="bot-inbox inbox">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="msg-header">
                    <p>Hola ¿como puedo ayudarte?</p>
                </div>
            </div>
            <!---->
            <div class="user-inbox inbox">
                <div class="msg-header">
                    <p>me puede ayudar con una cita medica porfavor para medicina general.</p>
                </div>
            </div>

            <div class="bot-inbox inbox">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="msg-header">
                    <p>¿para que parte desea agendar?</p>
                </div>
            </div>
            <!---->
            <div class="user-inbox inbox">
                <div class="msg-header">
                    <p>que sea en el sector del Norte</p>
                </div>
            </div>

            <div class="bot-inbox inbox">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="msg-header">
                    <p>tenemos disponble su cita para todo el mes de Octubre</p>
                </div>
            </div>
            <div class="bot-inbox inbox">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="msg-header">
                    <p>agende su cita porfavor para registralo</p>
                </div>
            </div>
            <!---->
            <div class="user-inbox inbox">
                <div class="msg-header">
                    <p>quiero agendar mi cita para el dia 30 de Octubre</p>
                </div>
            </div>
            <div class="bot-inbox inbox">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="msg-header">
                    <p>muy bien su cita estara agendada para el dia 30 de Octubre</p>
                </div>
            </div>
            <div class="bot-inbox inbox">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="msg-header">
                    <p>se puede acercar a SALUDTEST a partir de las 7 de la mañana porfavor, lo esperamos.</p>
                </div>
            </div>
            <div class="user-inbox inbox">
                <div class="msg-header">
                    <p>muy amable gracias, exelente servicio.</p>
                </div>
            </div>
            <div class="bot-inbox inbox">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="msg-header">
                    <p>muchas gracias por preferirnos, para servirle, lindo dia.</p>
                </div>

            
            
        </div>
        <div class="typing-field">
            <div class="input-data">
                <input id="data" type="text" placeholder="Escriba algo aquí..." required>
                <button id="send-btn">sent</button>
            </div>
        </div>
    </div>
    </div>
  </main>
</div>