.container_mode_cita .content .particles-js{
	position: absolute;
	height: 100%;
	width: 100%;
	transition: all .5s ease-in-out;
	opacity: 0%;
}

.container_mode_cita:hover > .content .particles-js{
	opacity: 50%;
}