<div class="container_settings working">
    <span class="las la-cog"></span>
    <div class="container_message">
        <div class="content_cogs">
            <div class="icon_cogs">
                <span class="fas fa-cog"></span>
                <span class="fas fa-cog"></span>
                <span class="fas fa-cog"></span>
            </div>
        </div>
        <h1>Estamos trabajando en nuevas funciones</h1>
    </div>
</div>