.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    background: rgb(14, 200, 113);
    margin-top: 20px;
}

.container ul {
    padding: 0px;
    margin: 0px;
}

.container ul li {
    float: left;
    list-style: none;
    width: 20%;
    height: 300px;
    background: rgb(38, 194, 200);
    margin: 20px 0px 20px 55px;
    border: 2px solid rgb(21, 217, 14);
    box-sizing: border-box;
}

.container ul li:hover {
    opacity: 0.8;
}

.container ul li .bottom {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: rgb(0, 0, 0);
    text-align: center;
    color: white;
    font-size: 20px;
}

@media screen and (max-width:1250px) {
    .container ul li {
        width: 40%;
        margin-left: 40px;
    }
}