.record_grid {
  display: grid;
  grid-template-columns: calc(25% - 1.5rem) 75%;
  grid-column-gap: 1.5rem;
}

.record_info > div {
  background: #fff;
  border-radius: 7px;
}
.users_card {
  margin-top: 1.5rem;
}

.user_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding: 1rem;
}

.user_single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.user_single .info {
  display: flex;
  align-items: center;
}

.user_single .info img {
  width: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}

.user_single .info .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(141, 141, 141);
}

.user_single .info .details span {
  margin-right: 0.2rem;
}

.user_single .info h4 {
  font-size: 0.8rem;
  font-weight: 600;
}

.user_single .info h5 {
  font-weight: normal;
  font-size: 0.7rem;
}

.user_single .edit span {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
  color: var(--color_dark_P);
}

.record_wrapper > div {
  background: #fff;
  border-radius: 7px;
}

.record_filter {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.record_filter div {
  width: 100%;
}
.record_filter input {
  width: 95%;
  padding-left: 7px;
  border: none;
  background: transparent;
  font-size: 13px;
}

.record_contect {
  margin-top: 1.5rem;
}

.record_contect table {
  width: 100%;
  border-collapse: collapse;
}

.record_contect thead {
  text-align: left;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.record_contect th,
td {
  font-size: 0.9rem;
  padding: 1rem 1rem;
}

.record_contect td {
  font-size: 0.8rem;
}

.record_contect tbody tr:nth-child(even) {
  background: #f8faff;
}

.summary_single {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary_single div {
  display: flex;
  align-items: center;
}

.summary_single span:first-child {
  font-size: 1.5rem;
  color: var(--color_dark_P);
  padding-right: 1rem;
}

.summary_single span:last-child {
  font-size: 0.8rem;
  color: rgb(119, 119, 119);
}

.summary_single h5 {
  font-size: 1rem;
}
