table th  {
    width: 10em;
    border: 1px solid  black;
}

table td {
    width: 10em;
    text-align: center;
    
}

table {
    border-collapse: collapse;
    border: 1px solid  black;
}

tr:nth-of-type(1) > th {
    background-color: #569ebd;
}
