
<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">

    {{!-- <div class="first_grid">
      <section class="dash_title">
        <h2 id="title_modules">Home</h2>
      </section>

      
    </div> --}}

    <section class="home_grid">
      <div><h1>Bienvenido {{user.nombres}}</h1></div>
      <div class="shortcuts">
        <div class="card">
          <div>
            <span class=""></span>
            <h1>Especialidades</h1>
          </div>
        </div>
      </div>
    </section>
  </main>

</div>