<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Certificado Médico</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
        <div class="certificado_medico_grid">
         	<div class="container">
		<div class="card">
			<div class="left-column background1-left-column">
                <i><img src="/img/icon_new_white.png"></i>
				<h6>SALUTEST</h6>
			</div>
			<div class="right-column">
				<div>
					<h2>CERTIFICADO MÉDICO</h2>
					<h6>SALUTEST</h6>
				</div>
                <br><br>
				<h3>A QUIEN CORRESPONDA</h3>
                <br>
				<p>Médico Cirujano, con Cédula profesional: <b>1799999999</b></p>
                <br>
                <h2><i>CERTIFICA</i></h2>
                <br>
                <p>Que él (la):<b>NOMBRE1 NOMBRE2 APELLIDO1 APELLIDO2</b> de 18 años de edad.
                    Se le practicaron los exámenes físicos, y de laboratorio Correspondientes
                    encontrandose Clínicamente </p>
                <br>
                <h4 class="resul">SANO XD</h4>
                ━━━━━━━━━━
                <br><br>
                <p>A petición del intersado y para los usos legales que estime 
                    convenientes, se extiende el presente en la ciudad de Quito,
                    Guajaló a los 2 días del mes de Agosto del año 2022</p>
                    <br>
                    <br>
                    <br>
                   <h5>Dr. JHON TANICUCHI</h5>
                   ━━━━━━━━━━
                   <br>
                   Atentamente

            </div>
		</div>
        <button class="button background1-left-column">Generar Certificado</button>
	</div>
</div>
</main>