 <div class="main_contect">
        <main class="main_app">
            <section class="dash_title">
                <h2 id="title_modules">EMPLEADOS</h2>
                <a href="#"><span class="far fa-times-circle"></span></a>
            </section>
            <button id="new-employee">Agregar nuevo empleado</button> 
            <br><br>
            <div class="content_grid"> <!-- EN ESTE DIV VA SU CONTENIDO EN SECTIONS -->
                <!-- TU CONTENIDO  -->

                <section>
                    
                    <table>
                        <thead>

                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Cédula</th>
                                <th>Dirección</th>
                                <th>Género</th>
                                <th>Estado Civil</th>
                                <th>Provincia</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                            <div id="campos">

                                   <style>
                                       #campos {
                                           display: block;
                                       }
                                   </style>
                                <tbody >
                                    <tr>
                                        <td id="nombre"></td>
                                        <td id="apellido"></td>
                                        <td id="nacimiento"></td>
                                        <td id="cedula"></td>
                                        <td id="direccion"></td>
                                        <td id="genero"></td>
                                        <td id="estado"></td>
                                        <td id="provincia"></td>
                                        <td id="acciones"></td>
                                    </tr>
                                        <tr>
                                            <td ></td>
                                            <td ></td>
                                        </tr>
                                </tbody>
                            </div>
                    </table>
                    
                </section>
            </div>
        </main>
    </div>
</div>