<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Pacientes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <!-- Creacion de lista usuarios pacientes -->
    <div class="datable-container">
        <div class="header-tools">
            <div class="tools">
                <ul>
                    <li><span><input type="checkbox"></span></li>
                    <li>
                        <button>
                            <i class="material-icons">add_circle</i>
                        </button>
                    </li>
                    <li>
                        <button>
                            <i class="material-icons">edit</i>
                        </button>
                    </li>
                    <li>
                        <button>
                            <i class="material-icons">delete</i>
                        </button>
                    </li>
                    <li>
                        <button>
                            <i class="material-icons">share</i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="search">
                <input type="text" name="" id="" class="search-input">
            </div>
        </div>
        <table class="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>Status</th>
                    <th>Paciente</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Enfermedad</th>
                    <th>Especialista</th>
                    <th>Hora</th>
                    <th>Feha</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="available"></span></td>
                    <td>Josue A. Masapanta</td>
                    <td>@josuem</td>
                    <td>0998765432</td>
                    <td>Martha Bucaran</td>
                    <td>Ostiomilitis</td>
                    <td>Dr.Martha Bucaran</td>
                    <td>07:00  09:00</td>
                    <td>2021/05/01</td>
                </tr>
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="offline"></span></td>
                    <td>Alexandra K. Cevallos</td>
                    <td>@alexandrak</td>
                    <td>0987654321</td>
                    <td>Santa Rosa</td>
                    <td>Dermatitis</td>
                    <td>Lic.Paola Vinueza</td>
                    <td>10:00  12:00</td>
                    <td>2021/05/01</td>
                </tr>
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="available"></span></td>
                    <td>Paola E. Velasco</td>
                    <td>@paolae</td>
                    <td>0976573219</td>
                    <td>San Luis</td>
                    <td>Amigdalitis</td>
                    <td>Lic.Katerine Vinueza</td>
                    <td>14:00  17:00</td>
                    <td>2021/05/01</td>
                </tr>
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="offline"></span></td>
                    <td>Pamela A. Beltran</td>
                    <td>@pamelaa</td>
                    <td>0943782517</td>
                    <td>San Mateo</td>
                    <td>Escarlatina</td>
                    <td>Doc. Jessica Espinoza</td>
                    <td>07:00  09:00</td>
                    <td>2021/05/02</td>
                </tr>
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="available"></span></td>
                    <td>Alex R. Chugchilan</td>
                    <td>@alexr</td>
                    <td>0943782517</td>
                    <td>Vista Hermosa</td>
                    <td>Brucelosis</td>
                    <td>Doc. Jessica Espinoza</td>
                    <td>10:00  12:00</td>
                    <td>2021/05/02</td>
                </tr>
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="offline"></span></td>
                    <td>Monica P. Alvarado</td>
                    <td>@monicap</td>
                    <td>0987654321</td>
                    <td>Villaflora</td>
                    <td>Cataratas</td>
                    <td>Doc. Edwin Zuñiga</td>
                    <td>14:00  16:00</td>
                    <td>2021/05/02</td>
                </tr>
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="available"></span></td>
                    <td>Wendy J. Espinoza</td>
                    <td>@wendyj</td>
                    <td>0996745889</td>
                    <td>San Francisco</td>
                    <td>Asma</td>
                    <td>Doc. Romeo Cevallos</td>
                    <td>07:00  09:00</td>
                    <td>2021/05/03</td>
                </tr>
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="offline"></span></td>
                    <td>Liliana P. Semblantes</td>
                    <td>@lilinap</td>
                    <td>0943782517</td>
                    <td>Santa Barbara</td>
                    <td>Hernias</td>
                    <td>Doc. Marivel Espejo</td>
                    <td>10:00  12:00</td>
                    <td>2021/05/03</td>
                </tr>
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="available"></span></td>
                    <td>Maria F. Marcillo</td>
                    <td>@mariaf</td>
                    <td>0994337308</td>
                    <td>San Vicente</td>
                    <td>Reumatismo</td>
                    <td>Doc. Jeferson Flores</td>
                    <td>14:00  16:00</td>
                    <td>2021/05/03</td>
                </tr>
            </tbody>
        </table>
        <div class="footer-tools">
            <div class="list-itmes">
                Tiempo de reserva
                <select name="n-entries" id="n-entries" class="n-entries">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                SEMANA
            </div>
            <div class="pages">
                <ul>
                    <li><span class="active">1</span></li>
                    <li><button>2</button></li>
                    <li><button>3</button></li>
                    <li><button>4</button></li>
                    <li><button>...</button></li>
                    <li><button>9</button></li>
                    <li><button>10</button></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>