<!-- MAIN CONTECT -->
<div class="listacitamedica_grid">
    <div class="main_contect">
        <main class="main_app">
            <section class="dash_title">
                <h2 id="title_modules">LISTA CITAS MEDICAS</h2>
                <a href="#"><span class="far fa-times-circle"></span></a>
            </section>
            <form action="" class="search-bar">
                <input type="search" name="search" pattern=".*\S.*" required>
                <button class="search-btn" type="submit">
                    <span>Search</span>
                </button>
            </form>
            <div class="listacitas_grid"> <!-- EN ESTE DIV VA SU CONTENIDO EN SECTIONS -->
                <div class="limiter">
                    
                <div class="table100 ver6 m-b-110">
                    <table data-vertable="ver6">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column1" data-column="column1">ID</th>
                                <th class="column100 column2" data-column="column2">NOMBRE</th>
                                <th class="column100 column3" data-column="column3">CORREO</th>
                                <th class="column100 column4" data-column="column4">ENFERMEDAD</th>
                                <th class="column100 column5" data-column="column5">DOCTOR</th>
                                <th class="column100 column6" data-column="column6">FECHA</th>
                                <th class="column100 column7" data-column="column7">HORA</th>
                                <th class="column100 column8" data-column="column8">OPCIONES</th>
                            </tr>
                        </thead>
                    <tbody>
                    <tr class="row100">
                    <td class="column100 column1" data-column="column1">--</td>
                    <td class="column100 column2" data-column="column2">--</td>
                    <td class="column100 column3" data-column="column3">--</td>
                    <td class="column100 column4" data-column="column4">--</td>
                    <td class="column100 column5" data-column="column5">--</td>
                    <td class="column100 column6" data-column="column6">--</td>
                    <td class="column100 column7" data-column="column7">--</td>
                    <td><button type="button"> <img src="cheque.png"><img src="cancelar.png"></button></td>

                    </tr>
                    <tr class="row100">
                        <td class="column100 column1" data-column="column1">--</td>
                        <td class="column100 column2" data-column="column2">--</td>
                        <td class="column100 column3" data-column="column3">--</td>
                        <td class="column100 column4" data-column="column4">--</td>
                        <td class="column100 column5" data-column="column5">--</td>
                        <td class="column100 column6" data-column="column6">--</td>
                        <td class="column100 column7" data-column="column7">--</td>
                        <td><button type="button"> <img src="cheque.png"><img src="cancelar.png"></button></td>
                    </tr>
                </tr>
                <tr class="row100">
                    <td class="column100 column1" data-column="column1">--</td>
                    <td class="column100 column2" data-column="column2">--</td>
                    <td class="column100 column3" data-column="column3">--</td>
                    <td class="column100 column4" data-column="column4">--</td>
                    <td class="column100 column5" data-column="column5">--</td>
                    <td class="column100 column6" data-column="column6">--</td>
                    <td class="column100 column7" data-column="column7">--</td>
                    <td><button type="button"> <img src="cheque.png"><img src="cancelar.png"></button></td>
                </tr> 
                <tr class="row100">
                    <td class="column100 column1" data-column="column1">--</td>
                    <td class="column100 column2" data-column="column2">--</td>
                    <td class="column100 column3" data-column="column3">--</td>
                    <td class="column100 column4" data-column="column4">--</td>
                    <td class="column100 column5" data-column="column5">--</td>
                    <td class="column100 column6" data-column="column6">--</td>
                    <td class="column100 column7" data-column="column7">--</td>
                    <td><button type="button"> <img src="cheque.png"><img src="cancelar.png"></button></td>
                </tr> 
        
                <tr class="row100">
                    <td class="column100 column1" data-column="column1">--</td>
                    <td class="column100 column2" data-column="column2">--</td>
                    <td class="column100 column3" data-column="column3">--</td>
                    <td class="column100 column4" data-column="column4">--</td>
                    <td class="column100 column5" data-column="column5">--</td>
                    <td class="column100 column6" data-column="column6">--</td>
                    <td class="column100 column7" data-column="column7">--</td>
                    <td><button type="button"> <img src="cheque.png"><img src="cancelar.png"></button></td>

                </tr>
                <tr class="row100">
                    <td class="column100 column1" data-column="column1">--</td>
                    <td class="column100 column2" data-column="column2">--</td>
                    <td class="column100 column3" data-column="column3">--</td>
                    <td class="column100 column4" data-column="column4">--</td>
                    <td class="column100 column5" data-column="column5">--</td>
                    <td class="column100 column6" data-column="column6">--</td>
                    <td class="column100 column7" data-column="column7">--</td>
                    <td><button type="button"> <img src="cheque.png"><img src="cancelar.png"></button></td>

            </tr> </tr>
                <tr class="row100">
                <td class="column100 column1" data-column="column1">--</td>
                <td class="column100 column2" data-column="column2">--</td>
                <td class="column100 column3" data-column="column3">--</td>
                <td class="column100 column4" data-column="column4">--</td>
                <td class="column100 column5" data-column="column5">--</td>
                <td class="column100 column6" data-column="column6">--</td>
                <td class="column100 column7" data-column="column7">--</td>
                <td><button type="button"> <img src="cheque.png"><img src="cancelar.png"></button></td>

            </tr> </tr>
                <tr class="row100">
                <td class="column100 column1" data-column="column1">--</td>
                <td class="column100 column2" data-column="column2">--</td>
                <td class="column100 column3" data-column="column3">--</td>
                <td class="column100 column4" data-column="column4">--</td>
                <td class="column100 column5" data-column="column5">--</td>
                <td class="column100 column6" data-column="column6">--</td>
                <td class="column100 column7" data-column="column7">--</td>
                <td><button type="button"> <img src="cheque.png"><img src="cancelar.png"></button></td>

            </tr> </tr>
                <tr class="row100">
                <td class="column100 column1" data-column="column1">--</td>
                <td class="column100 column2" data-column="column2">--</td>
                <td class="column100 column3" data-column="column3">--</td>
                <td class="column100 column4" data-column="column4">--</td>
                <td class="column100 column5" data-column="column5">--</td>
                <td class="column100 column6" data-column="column6">--</td>
                <td class="column100 column7" data-column="column7">--</td>
                <td><button type="button"> <img src="cheque.png"><img src="cancelar.png"></button></td>
            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</main>