<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules"> Reseta Medica</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="sucursales_grid">
            //TU CONTENIDO
        </div>
</div>
</main>