<div class="sidebar_profile">
    <div class="sidebar_profile_header">
        <div>
            <span class="fas fa-user-circle"></span>
            <h1>Perfil</h1>
        </div>
    </div>
    <div class="sidebar_profile_contect">
        <ul>
            <li class="list_profile">
                <a href="/profile/general">
                    <span class="las la-cog"></span>
                    <div>
                        <span class="title_li_profile">General</span>
                        <span id="point_nav_profile" class="fas fa-circle"></span>

                    </div>
                </a>
            </li>
            <li class="list_profile">
                <a href="/profile/security">
                    <span class="las la-shield-alt"></span>
                    <div>
                        <span class="title_li_profile">Seguridad</span>
                        <span id="point_nav_profile" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>