.container_cita_cp_2{
  height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: calc(80% - 1.5rem) 20%;
  grid-column-gap: 1.5rem;
}

.container_cita_cp_2 .container_left , .container_cita_cp_2 .container_right{
  border-radius: 7px;
  background: white;
}

.container_cita_cp_2 .container_left .detalle_paciente{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid rgb(194, 194, 194);
  font-size: 12px;
}

.container_cita_cp_2 .container_left .detalle_paciente p span{
  font-weight: bold;
}
.container_cita_cp_2 .container_left{
  position: relative;
}

.container_cita_cp_2 .especialidad{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.container_cita_cp_2 .container_especialidad{
  display: flex;
  align-items: center;
}

.container_cita_cp_2 .resumen_cita{
  height: calc(100vh - 14rem - 69px - 29px - 10px - 20px);
  display: grid;
  grid-template-rows: 90% 10%;
  padding: 20px 40px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
}

.container_cita_cp_2 .resumen_cita .content_top{
  display: grid;
  grid-template-columns: 60% 40%;
}

.container_cita_cp_2 .resumen_cita .content_left .details div{
  display: grid;
  grid-template-columns: 20% 80%;
}

.container_cita_cp_2 .resumen_cita .content_left .details div span:first-child{
  font-weight: bold;
  font-size: 14px;
}

.container_cita_cp_2 .resumen_cita .content_left .details div span:last-child{
  font-weight: normal;
}

.container_cita_cp_2 .resumen_cita .content_left .resume{
  margin-top: 50px;
}

.container_cita_cp_2 .resumen_cita .content_bot{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_cita_cp_2 .resumen_cita .content_bot .recomendation{
  text-align: center;
  background: rgb(218, 218, 218);
  width: 80%;
  border-radius: 5px;
  padding: 10px;
}

.container_cita_cp_2 .resumen_cita .content_bot .recomendation p span{
  font-weight: bold;
}

.container_cita_cp_2 .resumen_cita .content_bot .recomendation p span:last-child:hover{
  border-bottom: 1.5px solid black;
  cursor: pointer;
}

.container_cita_cp_2 .resumen_cita .content_right img{
  width: 400px;
}

.container_cita_cp_2 .container_bot{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.container_cita_cp_2 .profile_preview {
  height: 100%;
  padding: 1.5rem;
  border-radius: 7px;
  background: #35405c;
}

.container_cita_cp_2 .general_data {
  text-align: center;
  color: white;
}

.container_cita_cp_2 .general_data img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: inset 2px #ffffff;
}

.container_cita_cp_2 .general_data h3 {
  font-size: 1rem;
  text-transform: capitalize;
}

.container_cita_cp_2 .general_data span {
  font-size: 0.8rem;
}

.container_cita_cp_2 .personal_data {
  margin-top: 2rem;
}

.container_cita_cp_2 .personal_data_header {
  text-transform: uppercase;
  color: var(--color_dark_P);
  font-size: 0.8rem;
  font-weight: 500;
}

.container_cita_cp_2 .card_data_single {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_cita_cp_2 .card_data_single h5 {
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
}

.container_cita_cp_2 .card_data_single span {
  color: rgb(184, 184, 184);
  font-size: 0.8rem;
}