<!-- MAIN CONTECT -->
    <div class="main_contect">
        <main class="main_app">
            <section class="dash_title">
                <h2 id="title_modules">EMPLEADOS</h2>
                <a href="#"><span class="far fa-times-circle"></span></a>
            </section>
            <button id="new-employee">Agregar nuevo empleado</button> 
            <br><br>
            <div class="content_grid"> <!-- EN ESTE DIV VA SU CONTENIDO EN SECTIONS -->
                <!-- TU CONTENIDO  -->
                <section id="formulario">
                    <style>
                        #formulario {
                            display: none;
                        }
                    </style>
                    <form>

                        <input type="text" name="nombre-1" id="nombre-1" placeholder="Nombre 1">
                        <input type="text" name="nombre-2" id="nombre-2"   placeholder="Nombre 2">
                        <input type="text" name="apellido-1" id="apellido-1" placeholder="Apellido 1">
                        <input type="text" name="apellido-2" id="apellido-2" placeholder="Apellido 2">
                        <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" placeholder="Fecha de nacimiento">
                        <input type="number" name="cedula" id="numero-cedula" placeholder="Número de cédula">
                        <input type="text" name="direccion" id="direccion-empleado" placeholder="Dirección">
                        <input type="radio" name="genero" id="genero-masculino"  value="Masculino"> Masculino
                        <input type="radio" name="genero" id="genero-femenino"  value="Femenino"> Femenino
                        <input type="radio" name="genero" id="genero-otro"  value="Otro"> Otro
                        
                        <input type="radio" name="soltero" id="soltero" value="Soltero/a"> Soltero/a
                        <input type="radio" name="casado" id="casado"  value="Casado/a"> Casado/a
                        <input type="radio" name="union-libre" id="union-libre" value="Union-Libre"> Union Libre
                        <input type="radio" name="separado" id="separado" value="Separado/a"> Separado/a
                        <input type="radio" name="divorciado" id="divorciado" value="Divorciado/a"> Divorciado/a
                        <input type="radio" name="viudo" id="viudo" value="Viudo/a"> Viudo/a
                        <input type="text" name="provincia" id="provincia-empleado" placeholder="Provincia">     
                        <input type="text" name="canton" id="canton-empleado" placeholder="Cantón">     
                        <input type="text" name="parroquia" id="parroquia-empleado" placeholder="Parroquia">     
                        
                         
                    </form>
                    
                    <button type="submit" id="agregar">Agregar</button>
                </section>
                <section id="info-empleado">
                    <style>
                        #info-empleado {
                            display: block;
                        }
                    </style>
                    
                    <table>
                        <thead>

                            <tr>
                                <th>Nombre</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Cédula</th>
                                <th>Dirección</th>
                                <th>Género</th>
                                <th>Estado Civil</th>
                                <th>Provincia</th>
                                <th>Cantón</th>
                                <th>Parroquia</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                            <div id="campos">

                                   <style>
                                       #campos {
                                           display: block;
                                       }
                                   </style>
                                <tbody >
                                    <tr>
                                        <td id="nombre"></td>
                                        <td id="nacimiento"></td>
                                        <td id="cedula"></td>
                                        <td id="direccion"></td>
                                        <td id="genero"></td>
                                        <td id="estado"></td>
                                        <td id="provincia"></td>
                                        <td id="canton"></td>
                                        <td id="parroquia"></td>
                                        <td id="acciones"></td>
                                    </tr>
                                        <tr>
                                            <td ></td>
                                            <td ></td>
                                        </tr>
                                </tbody>
                            </div>
                    </table>
                    
                </section>
            </div>
        </main>
    </div>

<script src="./botones.js"></script>