<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Empleado</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
            <link href="https://fontawesome.com/"
            rel="stylesheet">
           
        <div class="sucursales_grid">
             <div class="datable-container">
        <h1> <i class="material-icons">groups</i>Empleado Salutest</h1>
        <div class="header-tools">
            <div class="tools">
                <ul>
                    <li><span><input type="week"></span></li>
                    <li>
                       <!-- <button>
                            <i class="material-icons">add_circle</i>
                        </button>
                    </li>
                    <li>
                        <button>
                            <i class="material-icons">edit</i>
                        </button>
                    </li>
                    <li>
                        <button>
                            <i class="material-icons">delete</i>
                        </button>
                    </li>
                    <li>
                        <button>
                            <i class="material-icons"><span class="material-icons">
                                bloodtype
                                </span></i>
                        </button>-->
                    </li>
                </ul>
            </div>
            <div class="search">
               <!-- <input type="text" name="" id="" class="search-input">-->
            </div>
        </div>
        <table class="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th><i class="material-icons" >military_tech </i>Lista</th>
                   
                    
                    <th ><i class="material-icons" >face </i>Empleado</th>

                    <th><i class="material-icons" >update </i>Fecha de inicio</th>

                    <th><i class="material-icons" >date_range </i>Mes laboral</th>

                    <th><i class="material-icons" >trending_up </i>Dias trabajados</th>


                    <th><i class="material-icons" >work </i>Cargo</th>


                    <th><i class="material-icons" >mark_email_read </i>Correo</th>


                    <th><i class="material-icons" >phone_in_talk </i>Telefono</th>


                    <th><i class="material-icons" >explore</i>Direccion</th>


                    
                </tr>
            </thead>

            <tbody>
                <tr>
                   
                    
                    <td><span class=""></span></td>
                    <td>1</td>
                    <td>ADRIANA CAROLINA HERNANDEZ MONTERROZA</td>
                    <td>12/02/2003</td>
                    <td>Enero</td>
                    <td>365</td>
                    <td>Doctor</td>
                    <td>@adrianacaro</td>
                    <td>0987654321</td>
                    <td>La Bota</td>
                </tr>
                <tr>
               
                

                    <td><span class="active"></span></td>
                    <td>2</td>
                    <td>ALEXANDER CARVAJAL VARGAS </td>
                    <td>12/02/2003</td>
                    <td>Enero</td>
                    <td>365</td>
                    <td>Doctor</td>
                    <td>alexandercar</td>
                    <td>0987654321</td>
                    <td>La Bota</td>
                </tr>
                <tr>
                    
                    <td><span class="active"></span></td>
                    <td>3</td>
                    <td>ANGELA PATRICIA MAHECHA PIÑEROS </td>
                    <td>12/02/2003</td>
                    <td>Enero</td>
                    <td>365</td>
                    <td>Doctor</td>
                    <td>@angelapati</td>
                    <td>0987654321</td>
                    <td>La Bota</td>
                </tr>
                <tr>
                    <td><span class="active"></span></td>
                    <td>4</td>
                    <td>BRIGITE POLANCO RUIZ </td>
                    <td>12/02/2003</td>
                    <td>Enero</td>
                    <td>365</td>
                    <td>Doctor</td>
                    <td>@brigiteruiz</td>
                    <td>0987654321</td>
                    <td>Pifo</td>
                </tr>
                <tr>
                    <td><span class="active"></span></td>
                    <td>5</td>
                    <td>CARLOS FELIPE MOGOLLÓN PACHÓN</td>
                    <td>12/02/2003</td>
                    <td>Enero</td>
                    <td>365</td>
                    <td>Doctor</td>
                    <td>@carlosfelipe</td>
                    <td>0987654321</td>
                    <td>La Bota</td>
                </tr>
                <tr>
                    <td><span class="active"></span></td>
                    <td>6</td>
                    <td>CINTHYA FERNANDA DUSSÁN GUZMÁN </td>
                    <td>12/02/2003</td>
                    <td>Enero</td>
                    <td>365</td>
                    <td>Doctor</td>
                    <td>@cinthiafer</td>
                    <td>0987654321</td>
                    <td>La Bota</td>
                </tr>
                <tr>
                    <td><span class="active"></span></td>
                    <td>7</td>
                    <td>DANIEL ANDRÉS CASTIBLANCO SALGADO</td>
                    <td>12/02/2003</td>
                    <td>Enero</td>
                    <td>365</td>
                    <td>Doctor</td>
                    <td>@danielcas</td>
                    <td>0987654321</td>
                    <td>La Bota</td>
                </tr>
                <tr>
                    <td><span class="active"></span></td>
                    <td>8</td>
                    <td>ESTEWIL CARLOS QUESADA CALDERÍN </td>
                    <td>12/02/2003</td>
                    <td>Enero</td>
                    <td>365</td>
                    <td>Doctor</td>
                    <td>@carlosque</td>
                    <td>0987654321</td>
                    <td>La Bota</td>
                </tr>
                <tr>
                    <td><span class="active"></span></td>
                    <td>9</td>
                    <td>Maria F. Marcillo</td>
                    <td>12/02/2003</td>
                    <td>Enero</td>
                    <td>365</td>
                    <td>Doctor</td>
                    <td>@maria</td>
                    <td>0987654321</td>
                    <td>La Bota</td>
                </tr>
            </tbody>
        </table>
        <div class="footer-tools">
            <div class="list-itmes">
                MES LABORADOS
                <select name="n-entries" id="n-entries" class="n-entries">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="8">Septiembre</option>
                    <option value="8">Octubre</option>
                    <option value="8">Noviembre</option>
                    <option value="8">Diciembre</option>
                </select>
                
            </div>
            <div class="pages">
                <ul>
                    <li><span class="active">La salud es la riqueza real y no piezas de oro y plata</span></li>
                    
                    <li><button>...</button></li>
                    
                </ul>
            </div>
        </div>
    </div>
        </div>
</div>
</main>


