<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">horario</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
         
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <div class="sucursales_grid">
            <section class="form-registro">
        <td><i class="icon-edit btnSalud"><i class="material-icons">health_and_safety</i></td>
        <h4>Horario de atencion SALUDTEST</h4>
        <input class="controls" type="text" name="nombre" id="nombres" placeholder="ingrese su nombre" required>

        <input class="controls"type="text" name="apellido" id="apellidos" placeholder="ingrese su apellido" required>

        <input class="controls" type="date" name="fecha" id="fechas" required>

        <input class="controls" type="time" name="tiempo" id="tiempos" required >

        <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>

        <input class="botons" type="submit" value="Agregar horario">

        <button type="button" id="insertar" class="neon"> Insertar horario  </button>
    
    <button type="button" id="modificar" class="neon"> Modificar  </button>
   
    <button type="button" id="listar" class="neon"> Actualizar </button>
    
    <button type="button" id="eliminar" class="neon"> Eliminar </button>
    <br>
    <br>
    <br>
    <br>
    <br>

    <table class="table">
      
        <thead>
            
            <th scope="row">ID</th>
            <th scope="row">Paciente</th>
            <th scope="row">Numero</th>
            <th scope="row">Especialidad</th>
            <th scope="row">Fecha</th>
            <th scope="row">Horario</th>
            <th scope="row">Editar</th>
            <th scope="row">Eliminar</th>
            <th scope="row"></th>
           
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">1</th>
            <td>DILAN BRANDON HARO BUSTAMANTE</td>
            <td>0995529011</td> 
            <td>odontologia</td>
            <td>15/02/2022</td>
            <td>6:00 AM</td>
            <td><i class="icon-edit btnEditar"><i class="material-icons">edit</i></i>Edit</td>
            <td><i class="icon-delete btneliminar"><i class="material-icons">remove_circle</i></i>Delete</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>PEPITO JAIMITO TORRE TAPIA</td> 
            <td>0995681152</td>
            <td>Pediatria</td>
            <td>16/02/2022</td>
            <td>7:00 AM</td>
            <td><i class="icon-edit btnEditar"><i class="material-icons">edit</i>Edit</td>
            <td><i class="icon-delete btneliminar"><i class="material-icons">remove_circle</i>Delete</td>
          </tr>
          <tr>
        <tr class="table-active">
            <th scope="row">3</th>
            <td>BRAYAN VICENTE FUENTES BUSTAMANTE</td> 
            <td>0995438922</td>
            <td>odontologia</td>
            <td>17/02/2022</td>
            <td>8:00 AM</td>
            <td><i class="icon-edit btnEditar"><i class="material-icons">edit</i></i>Edit</td>
            <td><i class="icon-delete btneliminar"><i class="material-icons">remove_circle</i></i>Delete</td>
         </tr>
        <tr>
        <tr>
            <th scope="row">4</th>
            <td>ADRIANA MARCELA REY SANCHEZ</td> 
            <td>0997485602</td>
            <td>Pediatria</td>
            <td>18/02/2022</td>
            <td>9:00 AM</td>
            <td><i class="icon-edit btnEditar"><i class="material-icons">edit</i>Edit</td>
            <td><i class="icon-delete btneliminar"><i class="material-icons">remove_circle</i>Delete</td>
        </tr>
        <tr>
            <tr class="table-active">
                <th scope="row">5</th>
                <td>MARIO FERNANDO GARZÓN MUÑOZ</td> 
                <td>0991185402</td>
                <td>odontologia</td>
                <td>19/02/2022</td>
                <td>10:00 AM</td>
                <td><i class="icon-edit btnEditar"><i class="material-icons">edit</i></i>Edit</td>
                <td><i class="icon-delete btneliminar"><i class="material-icons">remove_circle</i></i>Delete</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>SANDRA XIMENA GARCÉS PARRA</td> 
                <td>0999943166</td>
                <td>Pediatria</td>
                <td>20/02/2022</td>
                <td>11:00 AM</td>
                <td><i class="icon-edit btnEditar"><i class="material-icons">edit</i>Edit</td>
                <td><i class="icon-delete btneliminar"><i class="material-icons">remove_circle</i>Delete</td>
              </tr>
              <tr>
            <tr class="table-active">
                <th scope="row">7</th>
                <td>YURANY CATALINA CIFUENTES MENDEZ</td> 
                <td>0997539011</td>
                <td>odontologia</td>
                <td>21/02/2022</td>
                <td>12:00 PM</td>
                <td><i class="icon-edit btnEditar"><i class="material-icons">edit</i></i>Edit</td>
                <td><i class="icon-delete btneliminar"><i class="material-icons">remove_circle</i></i>Delete</td>
             </tr>
            <tr>
            <tr>
                <th scope="row">8</th>
                <td>EMILY MICHELLE MUÑOZ ASIPUELA</td> 
                <td>0994998432</td>
                <td>Pediatria</td>
                <td>22/02/2022</td>
                <td>13:00 PM</td>
              
                <td><i class="icon-edit btnEditar"><i class="material-icons">edit</i>Edit</td>
              
                <td><i class="icon-delete btneliminar"><i class="material-icons">remove_circle</i>Delete</td>

                
              
            </tr>
            <tr>
        </tbody>
      </table>
    </table>

    </section>
    
        </div>
</div>
</main>

