<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <link rel="stylesheet" href="/styles/styles_modules/styles_institucion_medica.css">
</head>
<body>
    <div class="background_institucion_medica">
        <div>
            <h1>¿Qué aplicaciones deseas contratar?</h1>
            <span>Estas aplicaciones le ofrecen mejor experiencia tanto a los medicos como a los pacientes.</span>
            <section class="container-cards-apps">
                <div>
                    <div class="card-apps">
                        <div>
                            <section>
                                <img src="" alt="">
                            </section>
                            <section>
                                <h2>Salutest Management</h2>
                                <p>Aqui podras tener el control de tu Institucion Medica</p>
                    
                            </section>
                        </div>
                        <span><input type="checkbox" name="" id=""></span>
                    </div>
                    
                    <div class="card-apps">
                        <div>
                            <section>
                                <img src="" alt="">
                            </section>
                            <section>
                                <h2>Salutest Patient</h2>
                                <p>Aqui podras ofrecer a tus pacientes el control de la atencion medica.</p>
                    
                            </section>
                        </div>
                        <span><input type="checkbox" name="" id=""></span>
                    </div>
                </div>
    
            </section>
    
            <button class="btn_salutest">Continuar</button>
    
    
    
            <section>
    
                <p>Estas registrado con el correo de tu empresa salutest@gmail.com</p>
                <p>Aqui recibiras notificaciones importates de las aplicaciones.</p>
            </section>
    
        </div>
    </div>

</body>
</html>
