<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Lista Pacientes</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
          
            <title>Lista Pacientes</title>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <div class="Lista_Pacientes_grid">
                <div class="datable-container">
                    <div class="header-tools">
                        <div class="tools">
                            <ul>
                                <li><span><input type="checkbox"></span></li>
                                <li>
                                    <button>
                                        <i class="material-icons">add_circle</i>
                                    </button>
                                </li>
                                <li>
                                    <button>
                                        <i class="material-icons">edit</i>
                                    </button>
                                </li>
                                <li>
                                    <button>
                                        <i class="material-icons">delete</i>
                                    </button>
                                </li>
                                <li>
                                    <button>
                                        <i class="material-icons">share</i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="search">
                            <input type="text" name="" id="" class="search-input">
                        </div>
                    </div>
                    <table class="datatable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Estado</th>
                                <th>Cedula</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Donador</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                <td><span class="available"></span></td>
                                <td>172031400-3</td>
                                <td>Josue Alexander</td>
                                <td>Masapanta Naula</td>
                                <td>2002-05-01</td>
                                <td>Si</td>
                            </tr>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                <td><span class="offline"></span></td>
                                <td>171941598-4</td>
                                <td>Alexandra Katerine</td>
                                <td>Bustamante Alvarado</td>
                                <td>2021-05-01</td>
                                <td>Si</td>
                            </tr>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                <td><span class="available"></span></td>
                                <td>17314580-0</td>
                                <td>Paola Elizabeth</td>
                                <td>Velasco Ibarra</td>
                                <td>1999-05-01</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                <td><span class="offline"></span></td>
                                <td>171941557-2</td>
                                <td>Pamela Anahí</td>
                                <td>Beltran Acosta</td>
                                <td>2021-05-02</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                <td><span class="available"></span></td>
                                <td>171245890-8</td>
                                <td>Alex Romeo</td>
                                <td>Chugchilan Cevallos</td>
                                <td>1977-05-02</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                <td><span class="offline"></span></td>
                                <td>123456789-0</td>
                                <td>Monica Patricia</td>
                                <td>Alvarado Bustamante</td>
                                <td>1983-06-10</td>
                                <td>Si</td>
                            </tr>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                <td><span class="available"></span></td>
                                <td>098765432-1</td>
                                <td>Wendy Jazmín</td>
                                <td>Espinoza Chugchilan</td>
                                <td>1998-05-03</td>
                                <td>Si</td>
                            </tr>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                <td><span class="offline"></span></td>
                                <td>234567890-1</td>
                                <td>Liliana Paulina</td>
                                <td>Chugchilan Cevallos</td>
                                <td>1970-05-03</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                                <td><span class="available"></span></td>
                                <td>345678902-1</td>
                                <td>Maria Fernanda</td>
                                <td>Marcillo Tipan</td>
                                <td>1987-05-03</td>
                                <td>Si</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="footer-tools">
                        <div class="list-itmes">
                            Pacientes
                            <select name="n-entries" id="n-entries" class="n-entries">
                                <option value="1">1</option>
                                <option value="2" selected>2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                        <div class="pages">
                            <ul>
                                <li><span class="active">1</span></li>
                                <li><button>2</button></li>
                                <li><button>3</button></li>
                                <li><button>4</button></li>
                                <li><button>...</button></li>
                                <li><button>9</button></li>
                                <li><button>10</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </main>
</div>