<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Perfil</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
           

            <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <div class="sucursales_grid">
            <div class="card-container">
    <div class="bubbles"></div>
    <div class="foto">
      <img src="/img/image-victor.jpg" alt="personal">
    </div>

    <div class="personal-data-container">
      <span class="name">Victor Crest</span>
      <span class="age">26</span>
      <div class="city">London</div>
    </div>

    <div class="stats-container">
      <div class="statistics">
        <div class="quantity">C.I</div>
        <div class="units">1753491214</div>
      
    </div>

      <div class="stats-container">
        <div class="statistics">
          <div class="quantity">Especialidad</div>
          <div class="units">Pedriatia</div>
        </div>
      </div>

        <div class="stats-container">
          <div class="statistics">
            <div class="quantity">Nombre del hospital</div>
            <div class="units">Baca Ortiz</div>
        </div>
        </div>
    </div>
  </div>
  
  <div class="attribution">
    Aqui <a href="http://localhost:4000/pacientes" target="_blank">Lista de pacientes</a>. 
    Coded by <a href="#">Salutest</a>.
  </div>
        </div>
</div>
</main>



  
  
  

  
