<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Receta Medica</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="sucursales_grid">
        
            <form >
                    <div class="caja">
                        <br>
                      <label for="pac">Paciente</label> 
                      <input type="text" id="pac" placeholder="Escriba aqui" required>
                      <br>
                      <label for="fe">Fecha</label>
                       <input type="date" id="fe" placeholder="Escriba aqui" required>
                      <br>
                      <label for="med">Medicamento</label> 
                      <input type="text" id="med" placeholder="Escriba aqui" required>
                      <br>
                      <label for="via">Via ADMIN</label> 
                      <input type="text" id="via" placeholder="Escriba aqui" required>
                      <br>
                      <label for="dos">Dosis</label> 
                      <input type="text" id="dos" placeholder="Escriba aqui" required>
                      <br>
                      <label for="fre">Frecuencia </label> 
                      <input type="text" id="fre" placeholder="Escriba aqui" required>
                      <br>
                      <label for="dur">Duracion</label> 
                      <input type="text" id="dur" placeholder="Escriba aqui" required>
                      <br/>
                      <br/>
                      <input class="submit" type="submit" value="Generar Receta">
                    </div>
                    
                    </form>


        </div>
</div>
</main>