<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Roles</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

            <form onsubmit="event.preventDefault();onSubmit();" autocomplete="of">

                <div class="contenedor_roles">
                    <table class="tabla_roles" id="tabla_roles">
                        <div class="fuction"></div>
                        <thead>
                            <tr class="tr_roles">
                                <th>Roles</th>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Edad</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div> <br> <br> <br>

                <table>
                    <div class="formulario_roles">
                        <label for="rol">Rol</label> <input type="text" id="rol" placeholder="Doctor, Paciente, Admin" required>
                        <label for="ced">Cedula</label> <input type="text" id="ced" placeholder="Ingrese numero de cedula" required>
                        <label for="nom">Nombre</label> <input type="text" id="nom" placeholder="Introduzca un nombre" required>
                        <label for="ape">Apellido</label> <input type="text" id="ape" placeholder="Introduzca un apellido" required>
                        <label for="edad">Edad</label> <input type="number" id="edad" placeholder="Introduzca la edad" required>

                        <br> <br>
                        <input class="submit" type="submit" value="Añadir">
                    </div>
                </table>
            </form>
    </main>
</div>