<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Sala</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="vista_sala_grid">
    <table class="Sala">
        <tr>
            <td>
                <form autocomplete="off" action="/add" method="post">
                    <div class="sala">
                        <label for="product">Nombre de la sala</label>
                        <input type="text" name="nombre" id="product">
                    </div>
                    <div class="form_action--button">
                        <input type="submit" value="Crear">
                        <input type="reset" value="Reset">
                    </div>
                </form>

                <td>
                    <table class="list_Sala" id="storeList">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each sala}}
                            <tr>
                                <td>{{nombre}}</td>
                                <td>{{estado}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
            </td>
        </tr>
    </table>
        </div>
</div>
</main>