
<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Control Salud</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="container_salud">
            <section class="container_top">
                <a class="control_peso" href="/peso">
                    <div class="peso_details">
                        <div class="title">
                            <h1>Control de Peso</h1>
                        </div>
                        <div class="icon_peso">
                            <span class="fas fa-weight"></span>
                        </div>
                    </div>
                    <div class="peso_estado">
                        <span>DETALLE DEL PESO</span>
                    </div>
                </a>
                <section class="container_right">
                    <div class="section_top inactive">

                    </div>
                    <div class="section_bot inactive">

                    </div>
                </section>
            </section>
            <section class="container_bot">
                <section class="container_left inactive">

                </section>
                <section class="container_right inactive">

                </section>
            </section>
        </div>
    </main>
</div>