<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Vista_Areas</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="Crud_Areas_grid">
            <table>
        <tr>
            <td>
                <form autocomplete="off" onsubmit="onFormSubmit()">
                    <div class="texto1">
                        <label for="productCode">Areas</label>
                        <input type="text" name="productCode" id="productCode">
                    </div>
                    <div class="texto2">
                        <label for="product">Sub-Area</label>
                        <input type="text" name="product" id="product">
                    </div>

                    <div class="form_action--button">
                        <input type="submit" value="Crear">
                        <input type="reset" value="Reset">
                    </div>
                </form>

                <td>
                    <table class="list" id="storeList">
                        <thead>
                            <tr>
                                <th>Areas</th>
                                <th>Sub-Area</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="vista2.js"></script>
        </div>
</div>
</main>