<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Sub Areas</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="Crud_Areas_grid">
            <table>
        <tr>
            <td>
                <form autocomplete="off" action="/add" method="post">
                    <div class="texto1">
                        <label for="productCode">sub_Areas</label>
                        <input type="text" name="nombre" id="productCode">
                    </div>
                    <div class="form_action--button">
                        <input type="submit" value="Crear">
                        <input type="reset" value="Reset">
                    </div>
                </form>

                <td>
                    <table class="list" id="storeList">
                        <thead>
                            <tr>
                                <th>Sub_Areas</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each sub_areas}}
                            <tr>
                                <td>{{nombre}}</td>
                                <td>{{estado}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
            </td>
        </tr>
    </table>
        </div>
</div>
</main>