<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Sucursales</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="sucursales_grid">
            <section>
                <div>
                    <h1>Hospital Vozandes Quito</h1>
                    <p><span>5006</span>Doctores</p>
                    <p><span>5606</span>Especialisatas</p>
                    <p><span>10406</span>Pacientes</p>
                    <p>Entidad Privada</p>
                </div>
                <img src="https://lh5.googleusercontent.com/p/AF1QipOsynLnG-H_D2w8TJtAVUlCiBlVT4M7Em-br9BS=w1080-k-no" alt="">
                <div></div>
            </section>
            
            <section>
                <div>
                    <div>
                        <div><img src="" alt=""></div>
                        <div>
                            <h2>Nombre Sucursal</h2>
                            <p>Direccion</p>
                            <p>Horario</p>
                            <p><span>100</span> medicos</p>
                            <p><span>100</span> pacientes</p>
                        </div>
                    </div>
            
                    <div>
                        <div><img src="" alt=""></div>
                        <div>
                            <h2>Nombre Sucursal</h2>
                            <p>Direccion</p>
                            <p>Horario</p>
                            <p><span>100</span> medicos</p>
                            <p><span>100</span> pacientes</p>
                        </div>
                    </div>
            
                    <div>
                        <div><img src="" alt=""></div>
                        <div>
                            <h2>Nombre Sucursal</h2>
                            <p>Direccion</p>
                            <p>Horario</p>
                            <p><span>100</span> medicos</p>
                            <p><span>100</span> pacientes</p>
                        </div>
                    </div>
                </div>
            
            </section>
        </div>
</div>
</main>