<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <!-- MAIN -->
    <section class="dash_title">
      <h2 id="title_modules">Cita</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <div class="container_meet">
        <section class="content_video">
          <div class="video">
            <span class="fas fa-user-md"></span>
          </div>
            
        </section>
        <section class="content_lateral">
            <div class="conteiner_top">
              <div class="content_cam">
                <video id="video" src="" ></video>
              </div>
              <div class="content_controllers">
               <div class="controllers">
                  <div class="btn_cam  btn_controllers_stream" id="btn_cam">
                    <i id="btn_cam_i" class="las la-video"></i>
                  </div>
                  <div class="btn_mic btn_controllers_stream" id="btn_mic">
                    <i id="btn_mic_i" class="las la-microphone"></i>
                  </div>
                  {{!-- <i class="fas fa-microphone-slash"></i> --}}
               </div>
              </div>
            </div>
            <div class="container_bot">

            </div>
        </section>
    </div>
  </main>
</div>