<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">

    <div class="home_grid">

      <section class="welcome_card">
        <img src="/img/image_gallery.jpeg" alt="" />
        <div class="container_welcome">
          <h3>Hola <span>{{user.nombres_persona}},</span></h3>
          <h1>Institución Médica <span>{{user.nombre_institucion_medica}}</span></h1>
        </div>
      </section>
      
      <section class="home_bootom">

        <section class="shortcut_grid">
          <div class="card_shortcut" onclick="window.location='/empleados'">
            <div class="title">
              <span class="fa fa-user-tie"></span>
              <h3>Empleados</h3>
            </div>
            <span class="fa-solid fa-paperclip"></span>
          </div>

          <div class="card_shortcut" onclick="window.location='/pacientes'">
            <div class="title">
              <span class="fa fa-user-injured"></span>
              <h3>Pacientes</h3>
            </div>
            <span class="fa-solid fa-paperclip"></span>
          </div>

          <div class="card_shortcut" onclick="window.location='/roles'">
            <div class="title">
              <span class="fa fa-user-tag"></span>
              <h3>Roles</h3>
            </div>
            <span class="fa-solid fa-paperclip"></span>
          </div>

          <div class="card_shortcut" onclick="window.location='/horarios'">
            <div class="title">
              <span class="fa fa-clock"></span>
              <h3>Horarios</h3>
            </div>
            <span class="fa-solid fa-paperclip"></span>
          </div>

          <div class="card_shortcut" onclick="window.location='/areas'">
            <div class="title">
              <span class="fa fa-clone"></span>
              <h3>Areas</h3>
            </div>
            <span class="fa-solid fa-paperclip"></span>
          </div>

          <div class="card_shortcut" onclick="window.location='/sub_areas'">
            <div class="title">
              <span class="fa fa-layer-group"></span>
              <h3>Subareas</h3>
            </div>
            <span class="fa-solid fa-paperclip"></span>
          </div>

          <div class="card_shortcut" onclick="window.location='/salas'">
            <div class="title">
              <span class="fa fa-square"></span>
              <h3>Salas</h3>
            </div>
            <span class="fa-solid fa-paperclip"></span>
          </div>

          <div class="card_shortcut" onclick="window.location='/laboratorio'">
            <div class="title">
              <span class="fa fa-bong"></span>
              <h3>Laboratorios</h3>
            </div>
            <span class="fa-solid fa-paperclip"></span>
          </div>

          <div class="card_shortcut plus">
            <div class="title">
              <span class="fa fa-square-plus"></span>
            </div>
          </div>
        </section>

      </section>
    </div>
  </main>
</div>