<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">

    <div class="home_grid">
      <section class="institucion_details">
        <div>
          <h2 class="title">Institución Médica</h2>
          <div>
            <div><h3>Direccion:</h3><span>Ejemplo de Direccion</span></div>
            <div><h3>Sucursal:</h3><span>Ejemplo de Sucursal</span></div>
            <div><h3>Pacientes:</h3><span>0000</span></div>
            <div><h3>Medicos:</h3><span>0000</span></div>
            <div><h3>Empleados:</h3><span>0000</span></div>
          </div>
        </div>
        <div>
          <img src="" alt="">
        </div>
      </section>

      <section class="home_bootom">

        <section class="filter_home">

        </section>

        <section class="modules_grid">
          <div class="card_module">
            <div>
              <h6>Sucursales</h6>
              <span class="las la-clinic-medical"></span>
            </div>
            <div>
              <h6>Sucursales</h6>
              <span class="las la-clinic-medical"></span>
            </div>

          </div>
        
        </section>

      </section>

      
    </div>
  </main>

</div>