<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salutest</title>
    <link rel="icon" href="/img/icon_new_dark.png" type="image/gif" sizes="16x16">

    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/variable.css">
    <link rel="stylesheet" href="/styles/styles_loader.css">
    <link rel="stylesheet" href="/styles/styles_index.css">
    <link rel="stylesheet" href="/styles/styles_header.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_button.css">
    <link rel="stylesheet" href="/styles/styles_working.css">



    <script src="https://kit.fontawesome.com/35db202371.js"></script>
</head>



<body class="body_index">
    
       {{>navegation_index}}

    <div class="figure_background"></div>

    <main class="main_index">
        <div class="parentContainer">
            <section class="resume">
                <div class="title">
                    <h1 data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-sine">Trabaja con Nosotros</h1>
                    <h3 data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-duration="800"
                    data-aos-delay="200"
                    data-aos-easing="ease-in-sine"></h3>
                </div>
            </section>  
            <section>
                
                    <div class="content_cogs" >
                        <div class="icon_cogs">
                            <span class="fas fa-cog"></span>
                            <span class="fas fa-cog"></span>
                            <span class="fas fa-cog"></span>
                        </div>
                    </div>
                   
            </section>     
        </div>
    </main>

</body>

</html>










