.form-control{
    text-align:center;
}

body{
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

table .btnEditar{
    color:rgb(10, 220, 31);
    cursor: pointer;
}

table .btneliminar{
    color:rgb(255, 0, 0);
    cursor: pointer;
}