
.d-flex button{
    margin: 1.3em .6em;
    padding:.3em 2.4em;
}

.container table{
    margin: 1em 10em;
}

table .btnEditar{
    color: #6eb8f6;
    cursor: pointer;
}

table .btnEliminar{
    color: tomato;
    cursor: pointer;
}

.container .btnCorazon{
    color:#6eb8f6;
}