
.calendar {
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    font-family: sans-serif;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
}

.calendar .control {
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-weight: bold;
    font-size: 20px;

}

.grid__header, .grid__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid__header {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;

}

.grid__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.grid__cell:not(.grid__cell--selected):not(.grid__cell--disabled):not(.grid__cell--gh):hover{
    background: #535a6688;
    color: white;
}


.grid__cell--gd {
    cursor: pointer;
    font-size: 15px;
}

.grid__cell--selected {
    color: white;
    background-color: #535a66;
}

.grid__cell--disabled {
    color: rgb(151, 151, 151);
    cursor: not-allowed;
}
