<header class="header_index">
    
    <div class="container-nav">
        <nav class="nav">
            <ul>
                <a href="/">
                    <li>
                        <div>
                            <img src="img/icon_new_png.png" alt="" />
                            <h1>Salutest</h1>
                        </div> 
                    </li>
                </a>
                <li>
                    <a href="http://localhost:5000/">Salutest Business</a>
                </li>                 
                <li>
                    <a href="http://localhost:4000/">Salutest Management</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container-social">
        <nav class="nav-two">
            <ul>
                <li>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-youtube-square"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-instagram-square"></i></a>
                </li>
            </ul>
        </nav>
    </div>

</header>