.scroll {
  overflow: hidden;
}

.container_popup {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  display: flex;
}

.container_popup.active {
  visibility: visible;
}

.overlay {
  background: var(--color_overlay_POPUP);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip-path: circle(10.4% at 0 0);
  transition: all 0.5s ease-in-out;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.overlay.active {
  background: var(--color_overlay_POPUP);
  clip-path: circle(150% at 0 0);
  opacity: 1;
  z-index: 1000;
  visibility: visible;

}

.popup {
  background: var(--color_background_POPUP);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 500px;
  height: 600px;
  position: relative;
  transform: translate(-50%, -50%);
  transition: 0.3s ease all;
  transform: scale(0.7);
  opacity: 0;
  z-index: 1000;
}

.popup.active {
  transform: scale(1);
  opacity: 1;
}

.popup .logo {
  width: 120px;
  margin: auto;
  display: block;
  margin-top: -60px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.close_popup {
  font-size: 20px;
  color: var(--color_background);
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 5px;
}

.close_popup:hover {
  color: var(--color_background_H);
}