
.login {
    width: 400px !important;
    height: 550px !important;
}

.login .part_top {
    text-align: center;
    margin-top: 10px;
}

.login .part_top h1 {
    color: black;
}
.credentials_login {
    width: 300px;
    margin: 25px auto;
}

.btn_login_edit {
    width: 250px !important;
}

.login .part_bottom {
    text-align: center;
    margin-top: 10px;
}

.separation {
    margin: 0px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 50%;
}

.separation span{
    font-size: 15px;
    font-weight: bold;
    margin-top: -3px;
}

.separation hr{
    width: 100%;
    height: 1px;
    border: none;
    background: var(--color_font_P);
    margin: 10px 5px;
}

.login .container_accounts{
    width: 180px;
    border-radius: 20px;
    background: #ECEDEE;
    margin: 10px auto;
    padding: 5px 20px;
    align-items: center;
    display: flex;
    justify-content:space-around;
}

.login .container_accounts .m{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
}
.m img{
    width: 15px;
}

.login .container_accounts .a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

.a i{
    color: white;
    font-size: 20px;
    margin-top: -2px;
}
.login .container_accounts .g{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
}
.g img{
    width: 20px;
}

.login .container_accounts .f{
    width: 30px;
    border-radius: 50%;
    background: rgb(245, 245, 245);
    align-items: center;
    display: flex;
    justify-content: center;
}

.f i{
    font-size: 30px;
    color: #1977F3;
}

.login .container_accounts>div:hover{
    opacity: 50%;
    cursor: pointer;
}

.login .part_bottom .fotter p{
    margin: 20px auto;
    width: 350px;
    font-size: 12px;
    font-weight: lighter;
    color: black;
}

.login .part_bottom .fotter hr{
    width: 35%;
    height: 1px;
    border: none;
    background: var(--color_font_P);
    margin: 10px auto;
}

.login .part_bottom .fotter a{
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}