.signup_good {
    width: 550px !important;
    height: 330px !important;
}

.signup_good .contents {
    text-align: center;
    margin-top: 10px;
}

.signup_good .contents h1 {
    color: black;
}

.signup_good .contents h3 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}

.signup_good .contents hr {
    width: 50px;
    height: 1px;
    border: none;
    background: black;
    margin: 10px auto;
}

.signup_good .contents h6 {
    font-size: 12px;
    margin: 20px 0px;
    color: black;
}

