:root{

/* PRINCIPAL COLORS */
    --color_sure_P: #00FFFF;
    --color_dark_P: #22B573;
    --color_font_P: #8D8D8D;

/* COLORS POPUP */
    --color_background_POPUP: #F8F8F8;

/* COLORS BUTTON */
    --color_background: #D0D0D0;
    --color_font: #000000;

/* COLORS BUTTON HOVER */
    --color_background_H: #555555;
    --color_font_H: #FFFFFF;

/* COLORS NAV */
    --color_background_NAV: #6D6B6B;
    
/* COLORS CHAT */
    --color_background_CHAT: #EEEFEF;

/* FONTS */
    --font: 'Segoe UI';

};

/* 'Segoe UI' */

