:root{

/* PRINCIPAL COLORS */
    --color_sure_P: #00FFFF;
    --color_dark_P: #0280a7af;
    --color_font_P: #838383;

/* COLORS LOAD */
    --color_background_LOAD: #535a66;

/* COLORS POPUP */
    --color_background_POPUP: #F8F8F8;
    --color_overlay_POPUP: #535a66bd;

/* COLORS BUTTON */
    --color_background: #D0D0D0;
    --color_font: #000000;
    
/* COLORS BUTTON HOVER */
    --color_background_H: #0280a7;
    --color_font_H: #FFFFFF;

/* COLORS NAV */
    --color_background_NAV: #6D6B6B;
    
/* COLORS CHAT */
    --color_background_CHAT: #e8eef4;

/* COLORS CHAT */
    --color_test_P: #0280a7af;
    --color_green_test_P: #535a66;

    

/* FONTS */
    --font: 'Segoe UI';

};

/* 'Segoe UI' #24c6ccaf*/

