:root{

   
 

    --color-principal:#00abb8;
    --color-secundario:rgb(8, 217, 214);
    --transparente:transparent;
    --blanco:rgb(255, 255, 255);
    --negro:rgb(0, 0, 0);
    --turquesa-oscuro:rgba(4, 238, 255, 0.239);
    --color-fondo-menu:rgb(37, 42, 52);
    --color-fondo:rgba(0,0,0,0.6);
    --gris-claro:rgb(156, 156, 156);
    --color-footer:rgba(255, 255, 255, 0.911);

    
    --letra-sintomas:'Fredoka One', cursiva;

    
    --transparent:transparent;
    --red:#00adb9;
    --black:#252a34;
    --blue:#08d9d6;
    --white:#eaeaea;
    --title:35px;
    --text:19px;




    --border-redondo:10px;
}
