.scroll{
    overflow: hidden;
}


/* ------------------ */
/* VENTANA POPUP TEST */
/* ------------------ */

.fondo-popup {
	background: rgba(0, 0, 0, 0.507);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
    visibility: hidden;
	z-index: 10000;
	
}

.fondo-popup.active {
	visibility: visible;
}

.popup {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 5px  ;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	width: 700px;
	transition: .5s ease all;
	transform: scale(0.7);
	opacity: 0;
	height: 400px;
	top: 0;
	background: rgba(14,189,201,1);
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.popup .cerrar-popup {
	right: 0;
	padding: 20px;
	position: fixed;
	z-index: 1000;
	transition: .3s ease all;
}

.popup .cerrar-popup i{
	font-size: 18px;
	color: white;

}

.popup .cerrar-popup i:hover {
	color: #000;
}

.fondo_modal{
	opacity: 12%;
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.popup .texto{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
    height: 330px;
}


.popup h3 {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 30px ;
}

.popup h4 {
	font-size: 18px;
	font-weight: 300;
	margin: 10px 0;
}

.popup p {
	font-size: 15px;
	font-weight: bold;
	color: rgb(24, 24, 24);
}

.popup.active {transform: scale(1); opacity: 1; }


.boton{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
    bottom: 0px;
    border: none;
    cursor: pointer;
	outline: none;
	padding: 15px 20px;
	background: #323536;
    box-shadow: 0 2px 12px #181a1bad;
	color: white;
	border-radius: 5px;
    transition: all .2s ;

}

.boton:active {
    transform: scale(0.82);
    background-color: #252a2cd3;
    box-shadow: 0 2px 25px #17191a;
  }