* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: left;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 562px;
    background:url(../img/fondo_home.jpg);
    background: linear-gradient(to right, hsla(192, 85%, 61%, 0.521), hsla(298, 100%, 75%, 0.568)), url(../img/fondo_home.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.textos-header img{
    width: 600px;
}

.menu{
    top:0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    
    background:transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.lista-menu {
    margin-right: 30px;
}

.lista-menu i {
    margin-left: 10px;
    color: rgb(94, 94, 94);
}

.lista-menu > ul >  li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.lista-menu  ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color:rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.3s;
    font-size: 16px;
    font-family: 'open sans';
    font-weight: 300;
}

.sub-lista {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.0s ease;
    
}

.sub-lista li{
    list-style: none;
    margin: 15px 0;
}

.lista-menu li:hover .sub-lista{
    visibility: visible;
    opacity: 1;
}

.lista-menu ul li a:hover{
    background: rgba(88, 211, 205, 0.5);
    color:rgb(0, 0, 0);
}
.lista-menu  ul li a.active{
    border-radius: 0;
    border-bottom: 2px solid rgb(94, 94, 94);
    background: transparent;
    cursor: default ;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

header .textos-header{
    display: flex;
    height: 420px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagen-about-us{
    width: 25%;
    height: 10%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*  Our team */

.about-services{
    background: #bdbdbd;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #252a2c;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    font-family: "brown",helvetica,arial,sans-serif;

}

.contenedor-footer{
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.content-foo{
    text-align: center;
    margin-right: 100px;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(226, 226, 226);
    font-size: 16px;
    text-align: left;

    
}

.titulo-final{
    text-align: center;
    font-size: 14px;
    margin: 20px 0;
    color: #fff;
    font-weight: 200;
}


  .icons {
    margin: 60px;
    text-align: center;
  }
  .icons i {
    font-size: 25px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin: 10px;
    transition: all 0.2s linear;
  }

