<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <!-- MAIN -->
    <section class="dash_title">
      <h2 id="title_modules">Agendar Cita</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <div class="container_cita_ci_1">  
        <section class="container_left">
          <div class="title">
            <h1>Especialidades</h1>
          </div>
          <div class="content">
            <section class="container_filter">
              
            </section>
            <section class="conteiner_cards_especialidad">
              <div class="card_especialidad">
                <span>Medicina General</span>
              </div>

              <div class="card_especialidad">
                <span>Neumología</span>
              </div>

              <div class="card_especialidad">
                <span>Neurología</span>
              </div>

              <div class="card_especialidad">
                <span>Nutriología</span>
              </div>

              <div class="card_especialidad">
                <span>Oftalmología</span>
              </div>

              <div class="card_especialidad">
                <span>Pediatría</span>
              </div>
            </section>

          </div>
        </section>

        <section class="container_right">
          <div class="title">
            <h1>Médicos Disponibles</h1>
          </div>
          <div class="content">
            <section class="medicos">


              <div class="card_doctor">
                <div class="section_img">
                  <img src="/img/img_profile.png" alt="">
                </div>
                <div class="sections">
                  <div class="section">
                    <span>JHON ANDERSON TANICUCHI VALLEJO</span>
                  </div>
                  <div class="section">
                    <span>MEDICINA GENERAL</span>
                  </div>
                  <div class="section">
                    <span>5 ESTRELLAS</span>
                  </div>
                </div>
              </div>

              <div class="card_doctor">
                <div class="section_img">
                  <img src="/img/img_profile.png" alt="">
                </div>
                <div class="sections">
                  <div class="section">
                    <span>JHON ANDERSON TANICUCHI VALLEJO</span>
                  </div>
                  <div class="section">
                    <span>MEDICINA GENERAL</span>
                  </div>
                  <div class="section">
                    <span>5 ESTRELLAS</span>
                  </div>
                </div>
              </div>

              <div class="card_doctor">
                <div class="section_img">
                  <img src="/img/img_profile.png" alt="">
                </div>
                <div class="sections">
                  <div class="section">
                    <span>JHON ANDERSON TANICUCHI VALLEJO</span>
                  </div>
                  <div class="section">
                    <span>MEDICINA GENERAL</span>
                  </div>
                  <div class="section">
                    <span>5 ESTRELLAS</span>
                  </div>
                </div>
              </div>
              
            </section>
            <section class="container_bot">
              <a href="/cita_home">
                <button class="btn_salutest">Cancelar</button>
              </a>
              <a href="/cita_meet">
                <button class="btn_salutest">Iniciar Cita</button>
              </a>
            </section>
          </div>     
        </section>
    </div>
  </main>

</div>