{{#if user}}
<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
    <div class="sidebar_header">
        <h3 class="brand">
            <img src="/img/icon_new_white.png" alt="logo">
            <div class="title_nav">
                <span>Salutest</span>
                <span>ERP</span>
            </div>
        </h3>
        <label id="toggle" class="las la-bars menu_toggle"></label>
    </div>

    <div class="sidebar_menu">
        <ul>
    
             <li class="list">
                <a href="/certificado_medico">
                    <span class="las la-file-medical"></span>
                    <div>
                        <span class="title">Certificado Médico</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/crud_turnos">
                    <span class="las la-calendar"></span>
                    <div>
                        <span class="title">Turnos</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
  

            <li class="list">
            <a href="/empleados">
                    <span class="las la-user-friends"></span>
                    <div>
                        <span class="title">Empleados</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/laboratorio">
                    <span class="las la-bong"></span>
                    <div>
                        <span class="title">Laboratorios</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/lista2_paciente">
                    <span class="las la-receipt"></span>
                    <div>
                        <span class="title">Lista de Pacientes</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/receta_medica">
                    <span class="las la-capsules"></span>
                    <div>
                        <span class="title">Receta Médica</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/roles">
                    <span class="las la-user-nurse"></span>
                    <div>
                        <span class="title">Roles</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/vistacrudcitamedica">
                    <span class="las la-calendar"></span>
                    <div>
                        <span class="title">Citas</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/vistcrudhorarios">
                    <span class="las la-clock"></span>
                    <div>
                        <span class="title">Horarios</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/medicamentos">
                    <span class="las la-tienda"></span>
                    <div>
                        <span class="title">Medicamentos</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            
        </ul>
        <ul>
           
            <li class="list">
                <a href="/settings">
                    <span class="las la-cog"></span>
                    <div>
                        <span class="title">Ajustes</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
{{/if}}

