
<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <section class="dash_title">
      <h2 id="title_modules">Chat</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>
    <div class="test_grid">
  <section class="card_chat">
    <div class="chat_contect">
      <div class="chat_header">
        <div class="speciality_wrapper">
          <img src="/img/icon_new_dark.png" alt="" />
          <h4>Medicina General</h4>
        </div>
        <div class="progress_wrapper">
          <div class="progress">
            <span></span>
          </div>
        </div>
        <div class="user_inquiries">
          <span>{{user.nombre}}</span>
        </div>
      </div>

      <div class="messages" id="messages">
        <div class="date">
          <span>Domingo 05 Abril</span>
        </div>
        <div class="chatUser">
          <h6>23:03</h6>
          <p>Hello</p>
          <img src="/img/img_profile.png" alt="" />
        </div>
        <div class="botMedic">
          <img src="/img/img_profile.png" alt="" />
          <p>Hello</p>
          <h6>23:03</h6>
        </div>
        <div class="chatUser">
          <h6>23:03</h6>
          <p>Hello</p>
          <img src="/img/img_profile.png" alt="" />
        </div>
        <div class="botMedic">
          <img src="/img/img_profile.png" alt="" />
          <p>Hello</p>
          <h6>23:03</h6>
        </div>
        <div class="chatUser">
          <h6>23:03</h6>
          <p>Hello</p>
          <img src="/img/img_profile.png" alt="" />
        </div>
        <div class="botMedic">
          <img src="/img/img_profile.png" alt="" />
          <p>Hello</p>
          <h6>23:03</h6>
        </div>
        <div class="chatUser">
          <h6>23:03</h6>
          <p>Hello</p>
          <img src="/img/img_profile.png" alt="" />
        </div>
        <div class="botMedic">
          <img src="/img/img_profile.png" alt="" />
          <p>Hello</p>
          <h6>23:03</h6>
        </div>
        <div class="chatUser">
          <h6>23:03</h6>
          <p>Hello</p>
          <img src="/img/img_profile.png" alt="" />
        </div>
      </div>
    </div>

    <div class="interaction">
      <form id="form_chat">
        <div>
          <input id="answer" type="text" placeholder="Ejemplo: Dolor de cabeza, Fiebre" onkeyup="inquiries_filter()"/>
          <button id="send" type="submit"><span  class="fas fa-paper-plane"></span></button>
        </div>
      </form>
    </div>
    
  </section>

  <section class="card_suggestions">
    <div class="suggestions_header">
      <span id="preview_answer">Sugerencias</span>
    </div>
    <div class="suggetions_contect">
      <div class="option_suggestions">
        <div>
          <h1>Odontohhloía</h1>
          <p>Definición de la enfermedad</p>
        </div>
      </div>
      <div class="option_suggestions">
        <div>
          <h1>Odontoloía</h1>
          <p>Definición de la enfermedad</p>
        </div>
      </div>
      <div class="option_suggestions">
        <div>
          <h1>Odontoloía</h1>
          <p>Definición de la enfermedad</p>
        </div>
      </div>
      <div class="option_suggestions">
        <div>
          <h1>Odontoloía</h1>
          <p>Definición de la enfermedad</p>
        </div>
      </div>
      <div class="option_suggestions">
        <div>
          <h1>Odontoloía</h1>
          <p>Definición de la enfermedad</p>
        </div>
      </div>
      <div class="option_suggestions">
        <div>
          <h1>Odontoloía</h1>
          <p>Definición de la enfermedad</p>
        </div>
      </div>
      <div class="option_suggestions">
        <div>
          <h1>Odontoloía</h1>
          <p>Definición de la enfermedad</p>
        </div>
      </div>
      <div class="option_suggestions">
        <div></div>
          <h1>Odontoloía</h1>
          <p>Definición de la enfermedad</p>
        </div>
      </div>
    </div>
  </section>
</div>

  </main>

</div>