<!-- MAIN CONTECT -->
<div class="listacitamedica_grid">
      <div class="main_contect">
        <main class="main_app">
            <section class="dash_title">
                <h2 id="title_modules">Cita Médica</h2>
                <a href="/home"><span class="far fa-times-circle"></span></a>
            </section>
            <form action="" class="search-bar">
                <input type="search" id="cita_medica_table"name="search" onkeyup="cita_medica_filter" pattern=".*\S.*" required>
                <button class="search-btn" type="submit">
                    <span>Search</span>
                </button>
            </form>
            <div class="cita_medica_grid"> <!-- EN ESTE DIV VA SU CONTENIDO EN SECTIONS -->
                <div class="limiter">
                    
                <div class="table100 ver6 m-b-110">
                    <table data-vertable="ver6"id="certificado_medico_table">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column1" data-column="column1">ID</th>
                                <th class="column100 column2" data-column="column2">NOMBRE</th>
                                <th class="column100 column3" data-column="column3">CORREO</th>
                                <th class="column100 column4" data-column="column4">ENFERMEDAD</th>
                                <th class="column100 column5" data-column="column5">DOCTOR</th>
                                <th class="column100 column6" data-column="column6">FECHA</th>
                                <th class="column100 column7" data-column="column7">HORA Inicio</th>
                                <th class="column100 column8" data-column="column8">Hora Fin</th>
                            </tr>
                        </thead>
                    <tbody>
                    {{#each cita_medica}}
                    <tr class="row100">
                    <td class="column100 column1" data-column="column1">{{id_cita_medica}}</td>
                    <td class="column100 column2" data-column="column2">Javier Herran</td>
                    <td class="column100 column3" data-column="column3">example1@gmail.com</td>
                    <td class="column100 column4" data-column="column4">Mal del corazón</td>
                    <td class="column100 column5" data-column="column5">Goku</td>
                    <td class="column100 column6" data-column="column6">{{fecha_asignada}}</td>
                    <td class="column100 column7" data-column="column7">{{hora_inicio}}</td>
                    <td class="column100 column8" data-column="column8">{{hora_fin}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                   
</div>
</div>
</main>