<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <section class="dash_title">
      <h2 id="title_modules">Componente</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>

    <!--Contenedor-->

    <div class="componente_patient_grid">     
        <div class="card-category-1">      
        </div>   
        <div class="card-category-5">
            <ul class="all-pr-cards">
                <li>
                    <div class="per-card-3">
                        <div class="card-image">
                            <span></span>
                            <img src="https://www.dropbox.com/s/hdwp9fet5mfcd6x/girl-919048_640.jpg?raw=1"/>
                            <!--Image by <a href="https://pixabay.com/users/Free-Photos-242387/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=919048">Free-Photos</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=919048">Pixabay</a>-->
                            <span class="per-name">Nikki Thomas</span>
                        </div>

                        <div class="card-content">
                            <span class="per-position">Project Manager</span>
                            <div class="card-text">
                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                            </div>
                            <div class="social-icons">
                                <i class="fab fa-linkedin-in" title="LinkedIn"></i>
                                <i class="fab fa-twitter" title="Twitter"></i>
                                <i class="far fa-envelope" title="E-Mail"></i>
                                <i class="fab fa-facebook-f" title="Facebook"></i>
                                <i class="fab fa-whatsapp" title="WhatsApp"></i>
                                <div class="card-btn">
                                    <button type="button" title="Connect">Connect</button>
                                </div>                                
                            </div>
                        </div>                  
                    </div>
                </li>
            </ul>
        </div>
  
  </div>
</main>
</div>