
<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Control de Peso</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="peso_grid">      
            <h1>Calcular peso ideal</h1>
            <form id="formulario">
                <div class="container_peso">
                    <div class="container_form_peso">
                        <div class="container_top">
                            
                            <section class="genero card_peso">
                                <div class="title">
                                    <h1>Género</h1>
                                </div>
                                <div class="content_genero">
                                    <div>
                                        <div class="img_sexo">
                                            <img src="https://assets.yazio.com/frontend/images/icons.svg#icon-male" alt=""> 
                                        </div>  
                                        <div class="inpt_radio_peso">
                                            <input type="radio" name="sexo" value="M" checked>
                                            <label for="sexo">Hombre</label>
                                        </div>                        
                                    </div>
                                    <div>
                                        <div class="img_sexo">
                                            <img src="https://assets.yazio.com/frontend/images/icons.svg#icon-female" alt="">
                                        </div>   
                                        <div class="inpt_radio_peso">
                                            <input type="radio" name="sexo" value="H">
                                            <label for="sexo">Mujer</label>
                                        </div>                            
                                    </div>
                                </div>                       
                            </section>
                    
                            <section class="edad card_peso">
                                <div class="title">
                                    <h1>Edad</h1>
                                </div>
                                <div class="input_peso">
                                    <input class="inpt_peso" required autocomplete="off" type="text" min="1" max="120" name="edad" placeholder="20">
                                    <span>años</span>
                                </div> 
                            </section>
                            
                            <section class="altura card_peso">
                                <div class="title">
                                    <h1>Altura</h1>
                                </div>
                                <div class="input_peso">
                                    <input class="inpt_peso" required autocomplete="off" type="text" min="1" max="300" name="altura" placeholder="170">
                                    <span>cm</span>
                                </div>  
                            </section>
                    
                            <section class="peso card_peso">
                                <div class="title">
                                    <h1>Peso</h1>
                                </div>
                                <div class="input_peso">
                                    <input class="inpt_peso" required autocomplete="off" type="text" min="1" max="300" name="peso" placeholder="72">
                                    <span>Kg</span>
                                </div>     
                            </section>
                        </div>
                         
                        <div class="container_bot">
                            <button class="btn_salutest">Calcula tu peso ideal</button>
                        </div>
                    </div>
                    
                    <div class="container_resultado" >
                        <div id="resultado">
                            ---
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>