
<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2 id="title_modules">Registro Citas</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>

        <div class="container_settings working">
            <span class="las la-cog"></span>
                <div class="container_message">
                    <div class="content_cogs" >
                        <div class="icon_cogs">
                            <span class="fas fa-cog"></span>
                            <span class="fas fa-cog"></span>
                            <span class="fas fa-cog"></span>
                        </div>
                    </div>
                    <h1>Estamos trabajando en estas nuevas funciones</h1>
                </div>
            </div>
        </div>
    </main>
</div>