.container_pulse {
	 position: absolute;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 overflow: hidden;
     height: 100%;
     width: 100%;
}

.pulse {
	 z-index: 0;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 max-width: 30rem;

}
.pulse circle {
	 fill: #535a66;
	 transform: scale(0);
	 opacity: 0;
	 transform-origin: 50% 50%;
}

.container_mode_cita:hover > .content .container_pulse .pulse circle {
    animation: pulse 3s  cubic-bezier(0.5, 0.5, 0, 1) infinite;
}
.pulse circle:nth-child(2) {
	 fill: #535a66;
}

.container_mode_cita:hover > .content .container_pulse .pulse circle:nth-child(2) {
	 animation: pulse 3s 1.5s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}

 @keyframes pulse {
	 25% {
		 opacity: 0.4;
	}
	 100% {
		 transform: scale(1);
	}
}
 