{{#if user}}
<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
    <div class="sidebar_header">
        <h3 class="brand">
            <img src="/img/icon_new_white.png" alt="logo">
            <div class="title_nav">
                <span>Salutest</span>
                <span>Business</span>
            </div>

        </h3>
        <label id="toggle" class="las la-bars menu_toggle"></label>
    </div>

    <div class="sidebar_menu">
        <ul>
            <li class="list">
                <a href="/general_configuration">
                    <span class="las la-sliders-h"></span>
                    <div>
                        <span class="title">Panel de Control</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/solicitudes">
                    <span class="las la-envelope"></span>
                    <div>
                        <span class="title">Solicitudes</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/instituciones_medicas">
                    <span class="las la-hospital"></span>
                    <div>
                        <span class="title">Instituciones</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>


            </li>

            <li class="list">
                <a href="/modulo_estadisticas">
                    <span class="las la-signal"></span>
                    <div>
                        <span class="title">Módulo Estadisticas</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/componentes_erp/default">
                    <span class="las la-calculator"></span>
                    <div>
                        <span class="title">Componentes ERP</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>


            <li class="list">
                <a href="/componentes_patient/default">
                    <span class="las la-building"></span>
                    <div>
                        <span class="title">Componentes Patient</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/componentes_management/default">
                    <span class="las la-hospital"></span>
                    <div>
                        <span class="title">Componentes Management</span>


                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/modules_management">
                    <span class="las la-hospital"></span>
                    <div>
                        <span class="title">Modules</span>

                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

        </ul>
        <ul>
            <div class="subtitle_nav">
                <div class="subtitle">
                    <span class="las la-ellipsis-v"></span>
                    <h2>Apps</h2>
                </div>
                <hr>
            </div>

            <li class="list">
                <a href="/CRM">
                    <span class="las la-window-maximize"></span>
                    <div>
                        <span class="title">CRM</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

            <li class="list">
                <a href="/Management">
                    <span class="las la-window-maximize"></span>
                    <div>
                        <span class="title">Management</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/ERP">
                    <span class="las la-window-maximize"></span>
                    <div>
                        <span class="title">ERP</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/Patient">
                    <span class="las la-window-maximize"></span>
                    <div>
                        <span class="title">Patient</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

{{/if}}