{{#if user}}
<!-- SIDEBAR -->
<div id="sidebar" class="sidebar">
    <div class="sidebar_header">
        <h3 class="brand">
            <img src="/img/icon_new_white.png" alt="logo">
            <span>Salutest</span>
            <span>Business</span>

        </h3>
        <label id="toggle" class="las la-bars menu_toggle"></label>
    </div>

    <div class="sidebar_menu">
        <ul>
           <li class="list">
                <a href="/profile">
                    <span class="las la-user"></span>
                    <div>
                        <span class="title">Perfil</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>

             <li class="list">
                <a href="/salud_home">
                    <span class="las la-procedures"></span>
                    <div>
                        <span class="title">Control Salud</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            {{!-- <li class="list">
                <a href="/test">
                    <span class="las la-notes-medical"></span>
                    <div>
                        <span class="title">Test Rapido</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li> --}}
            <li class="list">
                <a href="/cita_home">
                    <span class="las la-user-md"></span>
                    <div>
                        <span class="title">Agendar Cita</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/registro_c">
                    <span class="las la-book-medical"></span>
                    <div>
                        <span class="title">Registro Citas</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/test">
                    <span class="las la-notes-medical"></span>
                    <div>
                        <span class="title">Test</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/chat">
                
                    <span class="las la-comments"></span>
                    <div>
                        <span class="title">Chat Médico</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
           <li class="list">
                <a href="/especialidades">
                    <span class="las la-history"></span>
                    <div>
                        <span class="title">Especialidades</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            
        </ul>
        <ul>
            <li class="list">
                <a href="/record">
                    <span class="las la-history"></span>
                    <div>
                        <span class="title">Historia Clínica</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="/settings">
                    <span class="las la-cog"></span>
                    <div>
                        <span class="title">Ajustes</span>
                        <span id="point_nav" class="fas fa-circle"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

{{/if}}