<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salutest</title>
    <link rel="icon" href="/img/icon_new_dark.png" type="image/gif" sizes="16x16">

    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/styles_index.css">
    <link rel="stylesheet" href="/styles/styles_header.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_button.css">
    <link rel="stylesheet" href="/styles/variable.css">


    <script src="https://kit.fontawesome.com/35db202371.js"></script>
</head>


<body>
    {{>loader}}
    {{>navegation_index}}
    {{{body}}}
</body>

</html>