<div class="body_index">
        <main class="main_index">
            <div class="parentContainer">
                <section class="resume">
                    <div class="title_solicitud">
                        <h1 data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000"
                            data-aos-easing="ease-in-sine">Solicitud de Servicio</h1>
                        <h3 data-aos="fade-right" data-aos-offset="300" data-aos-duration="800" data-aos-delay="200"
                            data-aos-easing="ease-in-sine">Salutest-Pack</h3>
                    </div>

                    <div>
                        <form class="form_signup" id="signup_form" action="/add" method="POST">
                            <div class="credentials_signup">
                                
                                    <div>
                                        <label for="institucion_medica">Institución Medica</label>
                                        <input name="nombre_institucion_medica" class="input" id="institucion_medica" type="text" 
                                        autocomplete="off" required />
                                        <label for="tipo_institucion">Tipo de Isntitución</label>
                                        <input name="tipo_institucion" class="input" id="tipo_institucion" type="text" autocomplete="off" required />
                                    </div>
                                    <label for="detalle">Descripción</label>
                                    <input name="detalle" class="input" id="detalle" type="text" autocomplete="off" required />
                                    
                                    <label for="motivo">¿Porqué desea contratar el servicio?</label>
                                    <input name="motivo" class="input" id="motivo" type="text" autocomplete="off" required />
                                    
                                   
                            </div>
                            <div class="fotter">
                                <p>
                                    Al continuar, aceptas las Condiciones del servicio y la Política
                                    de privacidad de Salutest.
                                </p>
                                
                            </div>
                            <button class="btn btn_signup_edit" type="submit">
                                Enviar
                            </button>
                        </form>
                    </div>
                </section>

               {{!--  <section class="resume">
                    <div class="title_solicitud">
                        <h1 data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                            Solicitud de Servicio</h1>
                        <h3 data-aos="fade-right" data-aos-offset="300" data-aos-duration="800" data-aos-delay="200"
                            data-aos-easing="ease-in-sine">Salutest-Pack</h3>
                    </div>
                
                    <div>
                        <form class="form_signup" id="signup_form" action="/add" method="POST">
                            <div class="credentials_signup">
                
                                <div>
                                    <label for="institucion_medica">Institución Medica</label>
                                    <input name="nombre_institucion_medica" class="input" id="institucion_medica" type="text"
                                        autocomplete="off" required />
                                    <label for="tipo_institucion">Tipo de Isntitución</label>
                                    <input name="tipo_institucion" class="input" id="tipo_institucion" type="text" autocomplete="off"
                                        required />
                                </div>
                                <label for="detalle">Descripción</label>
                                <input name="detalle" class="input" id="detalle" type="text" autocomplete="off" required />
                
                                <label for="motivo">¿Porqué desea contratar el servicio?</label>
                                <input name="motivo" class="input" id="motivo" type="text" autocomplete="off" required />
                
                
                            </div>
                            <div class="fotter">
                                <p>
                                    Al continuar, aceptas las Condiciones del servicio y la Política
                                    de privacidad de Salutest.
                                </p>
                
                            </div>
                            <button class="btn btn_signup_edit" type="submit">
                                Enviar
                            </button>
                        </form>
                    </div>
                </section> --}}

                <section>
    
                    <div class="content_cogs">
                        <div class="icon_cogs">
                            <span class="fas fa-cog"></span>
                            <span class="fas fa-cog"></span>
                            <span class="fas fa-cog"></span>
                        </div>
                    </div>
    
                </section>
            </div>
        </main>
</div>