<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="styles.css">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Pacientes</title>

  
</head>
<body>
  <div class="card-container">
    <div class="bubbles"></div>
    <div class="foto">
      <img src="images/image-victor.jpg" alt="personal">
    </div>

    <div class="personal-data-container">
      <span class="name">Victor Crest</span>
      <span class="age">26</span>
      <div class="city">London</div>
    </div>

    <div class="stats-container">
      <div class="statistics">
        <div class="quantity">80K</div>
        <div class="units">Followers</div>
      
    </div>

      <div class="stats-container">
        <div class="statistics">
          <div class="quantity">803K</div>
          <div class="units">Likes</div>
        </div>
      </div>

        <div class="stats-container">
          <div class="statistics">
            <div class="quantity">1.4K</div>
            <div class="units">Photos</div>
        </div>
        </div>
    </div>
  </div>
  
  <div class="attribution">
    Challenge by <a href="#" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Salutest</a>.
  </div>
</body>
</html>
  
  
  

  
