<form action="/inquiries"></form>
<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <section class="dash_title">
      <h2>Consultas</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>
    <div class="inquiries_grid">
      <section class="card_chat">
          <div class="chat_header">
            <div class="speciality_wrapper">
              <img src="/img/icon_new_dark.png" alt="" />
              <h4>Medicina General</h4>
            </div>
            <div class="user_inquiries">
              <span>{{user.nombre}}</span>
            </div>
          </div>

        <div class="chat_contect">

          <div class="messages">
            <div class="date">
              <span>Domingo 05 Abril</span>
            </div>

            <div class="chatUser">
              <h6>23:03</h6>
              <p>Hello</p>
              <img src="/img/img_profile.png" alt="" />
            </div>
            <div class="botMedic">
              <img src="/img/img_profile.png" alt="" />
              <p>Hello</p>
              <h6>23:03</h6>
            </div>
            <div class="chatUser">
              <h6>23:03</h6>
              <p>Hello</p>
              <img src="/img/img_profile.png" alt="" />
            </div>
            <div class="botMedic">
              <img src="/img/img_profile.png" alt="" />
              <p>Hello</p>
              <h6>23:03</h6>
            </div>
            <div class="chatUser">
              <h6>23:03</h6>
              <p>Hello</p>
              <img src="/img/img_profile.png" alt="" />
            </div>
            <div class="botMedic">
              <img src="/img/img_profile.png" alt="" />
              <p>Hello</p>
              <h6>23:03</h6>
            </div>
            <div class="chatUser">
              <h6>23:03</h6>
              <p>Hello</p>
              <img src="/img/img_profile.png" alt="" />
            </div>
            <div class="botMedic">
              <img src="/img/img_profile.png" alt="" />
              <p>Hello</p>
              <h6>23:03</h6>
            </div>
          </div>
        
        <div class="results">
          <div class="time">
            <div>
              <h5>Tiempo transcurido</h5>
              <span>00:30:00</span>
            </div>
          </div>
          <div class="level">
            <div>
              <h5>Nivel de emergencia</h5>
              <div>
                <span>Grave</span>
                <span class="fas fa-circle"></span>
              </div>
            </div>
          </div>
          <div class="link_diagnosis">
            <div>
              <a href="">Diagnóstico</a>
              <span class="las la-file-medical-alt"></span>
            </div>
          </div>
        </div>
        </div>
      </section>

      <section class="card_details">
        <section class="card_inquiries">
          <div class="filter">
            <div>
              <span class="fas fa-search"></span>
              <input type="text" placeholder="Mis consultas" />
            </div>
          </div>
          <div class="inquiries_contect">
            <div class="card">
              <div class="profile">
                <img src="/img/icon_new_dark.png" alt="" />
              </div>
              <div class="details">
                <div>
                  <h5>Medicina General</h5>
                  <h6>5:00 AM</h6>
                </div>
                <p>En curso</p>
              </div>
            </div>
          </div>
        </section>
        <section class="card_symptom">
          <div class="symptom_header">
            <h5>Sintomas detectados</h5>
          </div>
          <div class="symptom_contect">
            <div class="symptom">
              <span>Fiebre</span>
            </div>
            <div class="symptom">
              <span>Fiebre</span>
            </div>
            <div class="symptom">
              <span>Fiebre</span>
            </div>
            <div class="symptom">
              <span>Fiebre</span>
            </div>
            <div class="symptom">
              <span>Fiebre</span>
            </div>
            <div class="symptom">
              <span>Fiebre</span>
            </div>
            <div class="symptom">
              <span>Fiebre</span>
            </div>
            <div class="symptom">
              <span>Fiebre</span>
            </div>
          </div>
        </section>
      </section>
    </div>
  </main>

</div>