<form action="/record"></form>
<!-- MAIN CONTECT -->
<div class="main_contect">
  <main class="main_app">
    <section class="dash_title">
      <h2>Actividad</h2>
      <a href="/home"><span class="far fa-times-circle"></span></a>
    </section>
    <div class="record_grid">
      <section class="record_info">
        <div class="summary_card">
          <div class="summary_single">
            <div>
              <span class="fas fa-notes-medical"></span>
              <span>Test</span>
            </div>
            <h5>103</h5>
          </div>

          <div class="summary_single">
            <div>
              <span class="fas fa-user-md"></span>
              <span>Medicina General</span>
            </div>
            <h5>5</h5>
          </div>

          <div class="summary_single">
            <div>
              <span class="fas fa-heartbeat"></span>
              <span>Especialidades</span>
            </div>
            <h5>12</h5>
          </div>
        </div>
        <div class="users_card forthcoming">
          <div class="user_header">
            <h1>Personas</h1>
            <h1>1</h1>
          </div>
          <div class="user_single">
            <div class="info">
              <img src="/img/img_profile.png" alt="" />
              <div>
                <h4>Cinthya Ramos</h4>
                <div class="details">
                  <h5><span class="fas fa-venus"></span>Mujer</h5>
                  <h5>21 años</h5>
                </div>
              </div>
            </div>
            <div class="edit">
              <span class="las la-edit"></span>
              <span class="las la-trash-alt"></span>
            </div>
          </div>
        </div>
      </section>
      <section class="record_wrapper">
        <div class="record_filter">
          <div>
            <span class="fas fa-search"></span>
            <input onkeyup="record_filter()" id="record_filter" type="text" placeholder="Filtrar por: tipo, fecha, fecha, hora, nivel" />
          </div>
        </div>
        <div class="record_contect">
          <table id="record_table">
            <thead>
              <tr>
                <th>Especialidad</th>
                <th>Paciente</th>
                <th>Hora</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Test</td>
                <td class="td_person">Jhon T.</td>
                <td>13:32</td>
                <td>12/03/2021</td>
              </tr>
              <tr>
                <td>Medicina General</td>
                <td class="td_person">Jhon T.</td>
                <td>13:32</td>
                <td>12/03/2021</td>
              </tr>
              <tr>
                <td>Medicina General</td>
                <td class="td_person">Jhon T.</td>
                <td>13:32</td>
                <td>12/03/2021</td>
              </tr>
              <tr>
                <td>Medicina General</td>
                <td class="td_person">Jhon T.</td>
                <td>13:32</td>
                <td>12/03/2021</td>
              </tr>
              <tr>
                <td>Medicina General</td>
                <td class="td_person">Jhon T.</td>
                <td>13:32</td>
                <td>12/03/2021</td>
              </tr>
              <tr>
                <td>Medicina General</td>
                <td class="td_person">Jhon T.</td>
                <td>13:32</td>
                <td>12/03/2021</td>
              </tr>
              <tr>
                <td>Medicina General</td>
                <td class="td_person">Jhon T.</td>
                <td>13:32</td>
                <td>12/03/2021</td>
              </tr>
              <tr>
                <td>Medicina General</td>
                <td class="td_person">Jhon T.</td>
                <td>13:32</td>
                <td>12/03/2021</td>
              </tr>
              <tr>
                <td>Medicina General</td>
                <td class="td_person">Jhon T.</td>
                <td>13:32</td>
                <td>12/03/2021</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </main>

</div>