<form action="/settings"></form>
<!-- MAIN CONTECT -->
<div class="main_contect">
    <main class="main_app">
        <section class="dash_title">
            <h2>Ajustes</h2>
            <a href="/home"><span class="far fa-times-circle"></span></a>
        </section>
    </main>

</div>