<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salutest Business</title>
    <link rel="icon" href="/img/icon_new_dark.png" type="image/gif" >


    <!-- STYLES WEB -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/variable.css">
    <link rel="stylesheet" href="/styles/styles_loader.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_input.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_switch.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_button.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_select.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_popup.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_pulse.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_bubbles.css">
    <link rel="stylesheet" href="/styles/styles_working.css">


    <!-- STYLES MODULES -->
    <link rel="stylesheet" href="/styles/styles_navegation.css">
    <link rel="stylesheet" href="/styles/styles_message.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_home.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_profile.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_settings.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_solicitudes.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_instituciones_medicas.css">


    <link rel="stylesheet" href="/styles/styles_modules/styles_especialidades.css">   

    <link rel="stylesheet" href="/styles/styles_modules/styles_componente_patient.css">


    <link rel="stylesheet" href="/styles/styles_modules/styles_componentes_management.css">

    <link rel="stylesheet" href="/styles/styles_modules/styles_especialidades.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_modulo_estaditicas.css">   
<link rel="stylesheet" href="/styles/styles_modules/styles_modulo_componentes.css">   


    <link rel="stylesheet" href="/styles/styles_modules/styles_especialidades.css"> 
    <link rel="stylesheet" href="/styles/styles_modules/style_componentes_erp.css">

    <link rel="stylesheet" href="/styles/styles_modules/styles_modulos_erp.css"> 
    <link rel="stylesheet" href="/styles/styles_modules/styles_componente_patient.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_componentes_management.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_estaditicas.css">   
    <link rel="stylesheet" href="/styles/styles_modules/styles_modulo_componentes.css">   

    <!-- SCRIPTS -->
<script src="https://unpkg.com/feather-icons"></script>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
            crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/413703a1a2.js" crossorigin="anonymous"></script>
</head>

<body>
    {{>loader}}
    {{>navegation}}
    {{>header}}
    {{{body}}}
</body>

<!-- SCRIPTS -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.io.js"></script>
<script src="/js/loader.js"></script>
<script src="/js/solicitudes_filter.js"></script>
<script src="/js/navegation_active.js"></script>
<script src="/js/especialidades.js"></script>
<script src="/js/modulo_estadisticas.js"></script>
<script>
      feather.replace()
</script>

<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>
</html>